<div style="display: none;" class="modal fade" id="modal-top" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-top">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">Add New Keyword</h3>
        </div>
        <div class="block-content">
          <div class="row">
            <%= form_tag "/add_keyword",{remote: true} do %>

              <div class="form-group col-md-12">
                <div class="col-md-8 name">
                  <input class="form-control" type="text" value="" name="keyword" >
                </div>
                <div class="col-md-4 name">
                  <input type="submit" name="commit" value="Save" class="btn-lg btn-sm btn-success">
                </div>
              </div>

            <% end %>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> Ok</button>
      </div>
    </div>
  </div>
</div>

