<% categories = Category.where('parent_id IS NULL') %>
<%= nested_form_for @business, :html => {:class => 'form-horizontal js-validation-bootstrap' } do |f| %>
  <% if flash[:error] %>
    <div class="col-sm-12">
      <div class="block">
        <div class="block-header">
          <code>
            Errors:
            <%= flash[:error] %>
          </code>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-6">
    <div class="block block-themed">
      <div class="block-header bg-primary">
        <h3 class="block-title">Basic</h3>
      </div>

      <div class="block-content">

        <%= form_element("name",f,:text_field,[class: "form-control"],10,true,true) %>

        <%= form_element("category_id",f,:collection_select,[categories,:id,:name,{},{class: "form-control"}],10,true,true) %>

        <%= form_element("description",f,:text_area,[size: "200x5", class: "form-control"]) %>

        <%= form_element("add_keywords",f,:text_field,[class: "form-control", data: {pre: f.object.keywords.map(&:attributes).to_json}]) %>

        <div class="form-group col-md-10 text-center">
          <%= link_to "Add keyword","#",{data: {target: "#modal-top",toggle: "modal"}} %>
        </div>
        <div class="form-group"></div>


      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="block block-themed">
      <div class="block-header bg-primary">
        <h3 class="block-title">Social</h3>
      </div>
      <div class="block-content">

        <% hsh = {"website" => "wifi"} %>
        <% %w(website).each do |i| %>

          <% icon = hsh[i].nil? ? i : hsh[i] %>
          <div class="form-group">
            <div class="col-md-10">
              <div class="input-group d-flex">
                <span class="w50 input-group-addon"><i class="fa fa-<%= icon %>"></i></span>
                <%= f.text_field i.to_sym, {class: "form-control", placeholder: "#{i.titleize}"} %>
              </div>
            </div>
          </div>
        <% end %>

        <%= form_element("logo",f,:text_field,[class: "form-control"],10,true,true) %>
        <%= form_element("logo_preview",f,:text_field,[class: "form-control"],8,false) %>

        <div class="form-group"> </div>
        <div class="form-group"> </div>
        <div class="form-group"> </div>

      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="block block-themed">
      <div class="block-header bg-primary">
        <h3 class="block-title">Images</h3>
      </div>
      <div class="block-content business_images">
        <%= render 'images', f: f %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="block block-themed">
      <div class="block-header bg-primary">
        <h3 class="block-title">Prefill Text</h3>
      </div>
      <div class="block-content">
        <%= form_element("terms_and_conditions",f,:text_area,[size: "200x5", class: "form-control"]) %>
        <% if false %>
        <%= form_element("redeem_steps",f,:text_area,[size: "200x5", class: "form-control"]) %>
        <% end %>
        <div class="form-group"> </div>
      </div>
    </div>
  </div>

  <div class="row form-group text-center">
    <div class="col-xs-12">
      <div class="form-material">
        <p><%= f.submit "Save Business", :class => "btn-lg btn-sm btn-success"%></p>
      </div>
    </div>
  </div>

<% end %>

<%= render "add_keyword" %>

<script type="text/javascript">
actmm("businesses")
</script>
