<div class="row form-group">
  <div class="col-xs-12">
    <div class="form-material">
      <p>

      <%= f.fields_for :images do |image| %>
        <div class="col-md-6 mycontent-left">
          <div class="text-right">
            <%= image.link_to_remove "<i class='fa fa-trash'></i>".html_safe %>
          </div>
          <%= form_element(["original","image_url"],image,:text_field,[class: "form-control business_image"]) %>
          <%= form_element("image_preview",f,:text_field,[class: "form-control"],8,false) %>
          <%= image.hidden_field :medium,{class: "medium"} %>
          <%= image.hidden_field :thumb,{class: "thumb"}  %>
        </div>
      <% end %>
      <%= f.link_to_add "Add Image", :images, :class => "btn btn-sm btn-info mt-25 ml-20 add_image_link"%>

      </p>
    </div>
  </div>
</div>

