<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center"><%= sort_link @q, :id %></th>
        <th class="text-center"><%= sort_link @q, :name %></th>
        <th class="text-center"><%= sort_link @q, :category_name, "Category" %></th>
        <th class="text-center">Branches</th>
        <th class="text-left">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @businesses.each do |business| %>
      <% branches_count = @branches_count[business.id].to_i %>
      <tr>
        <td class="text-center"> <%= business.id %> </td>
        <td class="text-center"> <%= link_to business.name, edit_business_path(business) %> </td>
        <td class="text-center"> <%= business.category.try(:name) %> </td>
        <td class="text-center"> <%= link_to branches_count, business_branches_path(business) %>  </td>
        <td class="text-left">
          <% if (branches_count == 0) && (can? :delete, Business) %>
            <%= link_to (raw('<i class="fa fa-trash-o fa-2"></i>')), business, method: :delete, class: 'btn-sm btn-danger', data: { confirm: 'Are you sure?'} %>
          <% else %>
            <i class="btn-sm btn-default fa fa-trash-o fa-2"></i>
          <% end %>
            <%#= business.approved? ? link_to((raw('Disapprove <i class="glyphicon glyphicon-remove"></i>')), business_disapprove_path(business), method: :post, class: 'btn btn-xs btn-default') : link_to((raw('Approve <i class="glyphicon glyphicon-ok"></i>')), business_approve_path(business), method: :post, class: 'btn btn-xs btn-default') %>
            <% if can? :create, Branch %>
            <%= link_to (raw('Add Branch')), new_business_branch_path(business), {:class => 'btn-sm btn-success'} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>







