<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Businesses <small>(<%= @businesses.total_count %>)</small>
      </h1>
    </div>
    <% if can? :create, Business %>
    <div class="col-sm-5 text-right">
      <%= link_to (raw('<i class="fa fa-plus"></i> New Business')), new_business_path, {:class => 'btn btn-success'} %>
    </div>
  <% end %>
  </div>
</div>

<div class="block">
  <div class="block-content">
    <% if @businesses.present? %>

      <%= search_form_for @q, url: search_businesses_path, method: :post do |f| %>
        <div class="row col-sm-12">

          <div class="col-sm-2 pagination">
            <%= f.text_field :id_eq,{placeholder: "Id..", class: "form-control"} %>
          </div>
          <div class="col-sm-2 pagination">
            <%= f.text_field :name_cont,{placeholder: "Name..", class: "form-control"} %>
          </div>
          <div class="col-sm-1 pagination">
            <%= f.submit "Search", {class: "btn btn-info"} %>
          </div>
          <div class="col-sm-7">
            <%= paginate @businesses %>
          </div>

        </div>
      <% end %>
      <%= render 'table' %>
    <% else %>
      <h3 class="text-center" style="padding-bottom:20px;">Currently no businesses to show.</h3>
    <% end %>
  </div>
</div>
<script>
  actmm("businesses");
</script>
