<p id="notice"><%= notice %></p>
<div class="content bg-gray-lighter">
  <div class="row items-push">
      <div class="col-sm-7">
          <h1 class="page-heading">
              Show
          </h1>
      </div>
      <div class="col-sm-5 text-right">
        <%= link_to (raw('<i class="fa fa-arrow-left"></i> Back')), businesses_path, {:class => 'btn btn-xs btn-default'} %>
      </div>
  </div>
</div>
<div class="block">
    <div class="block-content">
        <div class="table-responsive">
            <table class="table table-striped table-borderless table-header-bg">
                <thead>
                    <tr>
                      <th class="text-center">Name</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Website</th>
                        <th class="text-center">Twitter</th>
                        <th class="text-center">Logo</th>
                        <th class="text-center">Keywords</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td class="text-center"><%= @business.name %></td>
                      <td class="text-center"><%= @business.category.try(:name) %></td>
                      <td class="text-center"><%= @business.description %></td>
                      <td class="text-center"><%= @business.website %></td>
                      <td class="text-center"><%= @business.twitter %></td>
                      <td class="text-center"><%= @business.logo %></td>
                      <td class="text-center">
                          <div class="btn-group">
                              <%= link_to (raw('<i class="fa fa-pencil"></i>')), edit_business_path(@business), {:class => 'btn btn-xs btn-default'} %>
                          </div>
                      </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

