<div class="row form-group">
  <div class="col-xs-12">
  <h6 class="branch-top-notice">
    Please upload attachments specific to this branch. Please note the file name of the attachment will be visible on your branch listing.
  </h6>
  <div class="form-material">
    <div class="text-center cloudinary-upload-status"></div>
    <%= f.fields_for :attachments do |attachment| %>
      <div class="attachment-set">
        <div class="pull-right">
          <%= attachment.link_to_remove "<i class='fa fa-trash'></i> Delete attachment".html_safe, class: 'btn btn-xs btn-danger' %>
        </div>
        <div class="block-content">
          <%= form_element("title",attachment,:text_field,[class: "form-control"],6,true,false,false,true) %>
          <div class="row">
            <%= attachment.fields_for :images do |image| %>
              <div class="col-md-4 mt-5 mycontent-left">
                <div class="text-right">
                  <%= image.link_to_remove "<i class='fa fa-trash'></i>".html_safe %>
                </div>
                <%= form_element(["image","image_url"],image,:text_field,[class: "form-control branch_attachment_image cloudinary-url-field"]) %>
                <%= form_element("image_preview",f,:text_field,[class: "form-control"],8,false) %>
                <%= form_tag('upload_images', :method => :post, :class =>'new_upload', :enctype => 'multipart/form-data') do %>
                  <div class="row">
                    <div class="col-sm-6 text-warning text-center">
                      <%= cl_image_upload_tag(:image_id, :crop => :limit,
                                              :html => {accept: "image/*", :class => "image_upload form-control", :name => "upload_images"}) %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
            <%= attachment.link_to_add "Add Image", :images, :class => "btn btn-sm btn-info mt-25 ml-30 add_image_link"%>
          </div>
        </div>
      </div>
    <% end %>
    <%= f.link_to_add "Add Attachment", :attachments, :class => "btn btn-sm btn-info mt-25 ml-30 add_image_link"%>
  </div>
  </div>
</div>
