<% areas = Area.all %>
<% if flash[:error] %>
  <div class="col-sm-12">
    <div class="block">
      <div class="block-header">
        <code>
          Errors:
          <%= flash[:error] %>
        </code>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="js-wizard-simple block">
      <ul class="nav nav-tabs nav-justified grey-bg">
        <li class="active">
          <a href="#tab-branch" data-toggle="tab">Branch Information</a>
        </li>
        <li class="">
          <a href="#tab-gallery" data-toggle="tab">Gallery</a>
        </li>
        <li class="">
          <a href="#tab-attachments" data-toggle="tab">Attachments</a>
        </li>
      </ul>
    </div>

    <div class="block-content tab-content">
      <div class="tab-pane fade fade-up push-50 active in" id="tab-branch">
        <div class="col-lg-6">
          <div class="block-content">
            <%= form_element(['name', 'Branch Name'],f,:text_field,[class: "form-control"],12,true,true,false) %>
            <%= form_element(['description', 'Branch Description'],f,:text_area,[size: "200x4", class: "form-control"],12,true,false,false) %>
            <%= form_element("area_id",f,:collection_select,[areas,:id,:name,{},{class: "form-control"}],12,true,true,false) %>
            <%= form_element("address",f,:text_field,[class: "form-control"],12,true,true,false,false) %>
            <%= form_element("longitude",f,:text_field,[class: "form-control"],12,true,false,6) %>
            <%= form_element("latitude",f,:text_field,[class: "form-control"],12,true,false,6) %>
            <%= form_element("mobile",f,:text_field,[class: "form-control"],12,true,false,6) %>
            <%= form_element("landline",f,:text_field,[class: "form-control"],12,true,false,6) %>
            <%= form_element("logo",f,:text_field,[class: "form-control branch-logo"],10,true,true) %>
            <%= form_element("logo_preview",f,:text_field,[class: "form-control"],8,false) %>
            <%= form_tag('upload_images', :method => :post, :class =>'new_upload', :enctype => 'multipart/form-data') do %>
              <div class="col-sm-6 text-warning text-center">
                <%= cl_image_upload_tag(:image_id, :crop => :limit,
                                        :html => {accept: "image/*", :class => "image_upload form-control", :name => "upload_images"}) %>
              </div>
            <% end %>
            <div class="form-group"></div>

          </div>
        </div>
        <div class="col-lg-6">
          <div class="block-content">
            <div class="row">
              <div class="col-md-12">
                <div class="time-slot-head time-slot-left-col">Auto Fill Timings</div>
                <span class="common-time-first">
                  <input type="text" class="form-control branch-time time-slot-change" value="9:00am" data-loc='1'>
                  to
                  <input type="text" class="form-control branch-time time-slot-change" value="12:00pm" data-loc='2'>
                </span>
                <span id="common-time-second-head" style="display: none;">
                  <input type="text" class="form-control branch-time time-slot-change" value="1:00pm" disabled="disabled" data-loc='3'>
                  to
                  <input type="text" class="form-control branch-time time-slot-change" value="9:00pm" disabled="disabled" data-loc='4'>
                </span>
                <a class="btn btn-success btn-sm" id="add-timing-head" data-root='true'>
                  <i class="fa fa-plus"></i> Add Timing
                </a>
                <a class="btn btn-danger btn-sm" id="remove-timing-head" data-root='true' style="display: none;">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="push-20-t row">
              <div class="col-md-12 time-slot-head">
                Work Days
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Open
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Close
              </div>
            </div>
            <div>
              <% %w(sun mon tue wed thu fri sat).each do |i| %>
                <div class="row push-20-t time-slot-item">
                  <div class="col-md-12">
                    <div class="time-slot-left-col">
                      <label class="css-input switch switch-sm switch-success">
                        <%= f.check_box i.to_sym, {}, 1, 0 %><span></span><%= i.upcase %>
                      </label>
                    </div>
                    <span class="common-time-first">
                      <input type="text" name="branch[timing][<%= i %>][]" class="form-control branch-time time-slot-loc-1" value="9:00am" data-day="<%= i %>">
                      to
                      <input type="text" name="branch[timing][<%= i %>][]" class="form-control branch-time time-slot-loc-2" value="12:00pm" data-day="<%= i %>">
                    </span>
                    <span class="common-time-second" style="display: none;">
                      <input type="text" name="branch[timing][<%= i %>][]" class="form-control branch-time time-slot-loc-3" value="1:00pm" disabled="disabled" data-day="<%= i %>">
                      to
                      <input type="text" name="branch[timing][<%= i %>][]" class="form-control branch-time time-slot-loc-4" value="9:00pm" disabled="disabled" data-day="<%= i %>">
                    </span>
                    <a class="btn btn-success btn-sm add-timing-common"><i class="fa fa-plus"></i> Add Timing</a>
                    <a class="btn btn-danger btn-sm remove-timing-common" style="display: none;"><i class="fa fa-times"></i></a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade fade-up push-30-t push-50" id="tab-gallery">
        <div class="block-content branch_images">
          <%= render 'images', f: f %>
        </div>
      </div>
      <div class="tab-pane fade fade-up push-30-t push-50" id="tab-attachments">
        <div class="block-content branch_images">
          <%= render 'attachments', f: f %>
        </div>
      </div>
    </div>

    <div class="row form-group text-center">
      <div class="col-xs-12">
        <div class="form-material">
          <p><%= f.submit "Save Branch", :class => "btn-lg btn-sm btn-success" %></p>
        </div>
      </div>
    </div>

  </div>
</div>

  
<script>
  actmm("businesses");
  image_cloudinary_upload_generic('.block-content', '.branch-logo');
  $(document).ready(function() {
    $('.time-slot-change').change(function() {
      var loc = $(this).data('loc');
      var time = $(this).val();
      $('.time-slot-loc-' + loc).val(time)
    });

    $('#new_branch').submit(function(e) {
      var branchName = $('#branch_name').val();
      var branchArea = $('#branch_area_id').val();
      if (branchName == '' || branchArea == '') {
        notys("Fill mandatory fields of the form to proceed!","error");
        return false;
      }

      var mobile = $('#branch_mobile').val();
      var landline = $('#branch_landline').val();
      if (mobile == '' && landline == '') {
        notys("Please enter either a mobile or landline number!","error");
        return false;
      }

      var weekSel = $('input[type="checkbox"]:checked').length;
      if (weekSel == 0) {
        notys("Please select active work days!","error");
        return false;
      }

      return true;
    });
  });
</script>
