<div class="row form-group">
  <div class="col-xs-12">
    <h6 class="branch-top-notice">
      Upload images specific to this branch (500x500 resolution). Please remove any business info images not relevant to this branch.
    </h6>
    <div class="form-material">
      <div class="text-center cloudinary-upload-status"></div>
      <p>

      <%= f.fields_for :images do |image| %>
        <div class="col-md-6 mycontent-left">
          <div class="text-right">
            <%= image.link_to_remove "<i class='fa fa-trash'></i>".html_safe %>
          </div>
          <%= form_element(["original","image_url"],image,:text_field,[class: "form-control branch_image cloudinary-url-field"]) %>
          <%= form_element("image_preview",f,:text_field,[class: "form-control"],8,false) %>
          <%= image.hidden_field :medium,{class: "medium"} %>
          <%= image.hidden_field :thumb,{class: "thumb"}  %>
          <%= form_tag('upload_images', :method => :post, :class =>'new_upload', :enctype => 'multipart/form-data') do %>
            <div class="row">
              <div class="col-sm-6 text-warning text-center">
                <%= cl_image_upload_tag(:image_id, :crop => :limit,
                                        :html => {accept: "image/*", :class => "image_upload form-control", :name => "upload_images"}) %>
            </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= f.link_to_add "Add Image", :images, :class => "btn btn-sm btn-info mt-25 ml-20 add_image_link"%>

      </p>
    </div>
  </div>
</div>