<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center"><%= sort_link @q, :id %> &nbsp;<i class="fa fa-sort"></i></th>
      <th class="text-center"><%= sort_link @q, :name %> &nbsp;<i class="fa fa-sort"></i></th>
      <th class="text-center"><%= sort_link @q, :area_name, "Area" %> &nbsp;<i class="fa fa-sort"></i></th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @branches.each do |b| %>
      <tr>
        <td class="text-center"> <%= @business.id %> - <%= b.id %> </td>
        <td class="text-center"> <%= link_to b.name, edit_business_branch_path(@business.id, b.id) %> </td>
        <td class="text-center"> <%= b.area.try(:name) %> </td>
        <td class="text-center">
          <% if can? :delete, Branch %>
            <%= link_to (raw('<i class="fa fa-trash-o fa-2"></i>')),business_branch_path(b.business, b), method: :delete, class: 'btn-sm btn-danger', data: { confirm: 'Are you sure?'} %>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>








