<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Edit Branch
      </h1>
    </div>
  </div>
</div>
<%= nested_form_for(@branch, url: business_branch_path(@business, @branch), method: :put, :html => {:class => 'form-horizontal js-validation-bootstrap'}) do |f| %>
  <%= render 'form', f: f, text: 'Edit' %>
<% end %>
<script>
  $(function(){
    $(".branch-logo").trigger("focusout");
    $(".branch_image").trigger("focusout");
    $(".branch_attachment_image").trigger("focusout");

    var time_slots = {}
    <% %w(sun mon tue wed thu fri sat).each do |i| %>
      time_slots['<%= i %>'] = []
    <% end %>
    <% @branch.branch_time_slots.each do |b| %>
      time_slots['<%= b[:day] %>'].push('<%= seconds_to_time(b[:start_time].to_i) %>');
      time_slots['<%= b[:day] %>'].push('<%= seconds_to_time(b[:end_time].to_i) %>');
    <% end %>
    $.each(time_slots, function(day, slots) {
      if (slots.length > 2) {
        $('input[data-day="' + day + '"]').parents('.time-slot-item').find('.add-timing-common').click();
      }
      var count = 0
      $('input[data-day="' + day + '"]').each(function() {
        if (slots.length > count) {
          $(this).val(slots[count])
        }
        count+=1;
      });
    });
    if ($('.add-timing-common:visible').length == 0) {
      $('#add-timing-head').click();
    }
    var branchLogo = $('#branch_logo').val();
    if (branchLogo.length == '') {
      $('#branch_logo').val('<%= @business.logo %>').trigger("focusout");
    }
  });
</script>
