<p id="notice"><%= notice %></p>
<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        <%= @business.id %>. <%= @business.name %><small> - (<%= @branches.count %> branches)</small>
      </h1>
    </div>
    <% if can? :create, Branch %>
    <div class="col-sm-5 text-right">
      <%= link_to (raw('<i class="fa fa-chevron-left"></i> Back')), businesses_path, {:class => 'btn btn-default'} %>
    </div>
    <% end %>
  </div>
</div>
<div class="block">
  <div class="block-content">
    <div class="table-responsive">
      <%= search_form_for @q, url: search_business_branches_path, method: :post do |f| %>
        <div class="row col-sm-12">

          <div class="col-sm-2 pagination">
            <%= f.text_field :id_eq,{placeholder: "Branch ID", class: "form-control"} %>
          </div>
          <div class="col-sm-2 pagination">
            <%= f.text_field :name_cont,{placeholder: "Branch Name", class: "form-control"} %>
          </div>
          <div class="col-sm-1 pagination">
            <%= f.submit "Search", {class: "btn btn-info"} %>
          </div>
          <div class="col-sm-7">
            <%= paginate @branches %>
          </div>
          <%= link_to (raw('<i class="fa fa-plus"></i> New Branch')), new_business_branch_path(@business), {:class => 'btn btn-success pull-right'} %>

        </div>
      <% end %>

      <%= render "table" %>
    </div>
  </div>
</div>
<script>
  actmm("businesses")
</script>
