<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Add Branch
      </h1>
    </div>
  </div>
</div>

<%= nested_form_for(@branch, url: business_branches_path(@business), method: :post, :html => {:class => 'form-horizontal push-10-t push-10' }) do |f| %>
  <%= render 'form', f: f,text: 'Add' %>
<% end %>

<script>
  $("#open_days input").prop('checked', true);
  $('#branch_logo').val('<%= @business.logo %>').trigger("focusout");
</script>
