<div class="content bg-gray-lighter">
  <div class="row items-push">
      <div class="col-sm-7">
          <h1 class="page-heading">
              Show
          </h1>
      </div>
      <div class="col-sm-5 text-right">
        <%= link_to (raw('<i class="fa fa-arrow-left"></i> Back')), business_branches_path(@branch.business), {:class => 'btn btn-xs btn-default'} %>
      </div>
  </div>
</div>
<div class="block">
    <div class="block-content">
        <div class="table-responsive">
            <table class="table table-striped table-borderless table-header-bg">
                <thead>
                    <tr>
                      <th class="text-center">Name</th>
                        <th class="text-center">Open Time</th>
                        <th class="text-center">Close Time</th>
                        <th class="text-center">Address</th>
                        <th class="text-center">Landline</th>
                        <th class="text-center">Mobile</th>
                        <th class="text-center">Additional Info</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td class="text-center"><%= @branch.name %></td>
                      <td class="text-center"><%= @branch.open_time %></td>
                      <td class="text-center"><%= @branch.close_time %></td>
                      <td class="text-center"><%= @branch.address %></td>
                      <td class="text-center"><%= @branch.landline %></td>
                      <td class="text-center"><%= @branch.mobile %></td>
                      <td class="text-center"><%= @branch.additional_info %></td>
                      <td class="text-center">
                          <div class="btn-group">
                              <%= link_to (raw('<i class="fa fa-pencil"></i>')), edit_business_branch_path(@branch.business, @branch), {:class => 'btn btn-xs btn-default'} %>
                          </div>
                      </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
