<div style="display: none;" class="modal fade" id="modal-assign_business" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-top">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">Assign Businesses</h3>
        </div>
        <div class="block-content">
                   <h5> Assign to </h5>
          <br/>
          <div class="row">
            <%= form_tag "/assign_business",{remote: true} do %>

              <div class="form-group col-md-12">
                <div class="col-md-12 name">
                  <input class="form-control"  type="text"  name="business_ids" id="business_ids" >
                  <input class="form-control" type="hidden" value="" name="admin_id" id="admin_id" >
                </div>
              </div>
                  <div class="form-group col-md-12">
                    <div class="col-md-12 name">
                      <input type="submit" name="commit" value="Assign" class="btn-lg btn-sm btn-success">
                    </div>
                  </div>
          </div>

        <% end %>

        </div>
      </div>
    </div>
    <div class="modal-content modal-footer">
      <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> Ok</button>
    </div>
  </div>
</div>
</div>

