
<% @admins.each do |table| %>
  <% invitation_accepted = invitation_accepted?(table) %>
  <tr>
    <td class="text-center"> <%= table.id %> </td>
    <td class="text-center"> <%= table.email %> </td>
    <td class="text-center"> <%= table.role %> </td>
    <td class="text-center"> <%= invitation_accepted ? "Confirmed" : "Not yet Confirmed"  %> </td>
    <td class="text-center"><%= link_to "Assign","#",{data: {id: table.id, target: "#modal-assign_business",toggle: "modal" }, class: "assign_business_link"} %></td>
    <td class="text-center"> 
      <%= link_to "Reinvite", reinvite_path(table.id) if !invitation_accepted %>
    </td>
    <td>
      <%= link_to "Delete", "/delete_admins/#{table.id}", {method: :delete}  %>
    </td>
  </tr>
<% end %>

<%= render "assign_business" %>
