<div class="content bg-gray-lighter">
  <div class="row items-push">
      <div class="col-sm-7">
          <h1 class="page-heading">
              All Users
          </h1>
      </div>
      <div class="col-sm-5 text-right">
        <%= link_to (raw('<i class="fa fa-plus"></i> Invite User')), new_admin_path, {:class => 'btn btn-success'} %>
      </div>
  </div>
</div>
<div class="content">
  <div class="block">
      <div class="block-header">
      </div>
      <div class="block-content">
          <div class="table-responsive">
              <table class="table table-striped table-hover table-header-bg">
                  <thead>
                      <tr>
                          <th class="text-center">Id</th>
                          <th class="text-center">Invited Users</th>
                          <th class="text-center">Role</th>
                          <th class="text-center">Status</th>
                          <th class="text-center">Assign Businesses</th>
                          <th class="text-center">Reinvite</th>
                          <th class="text-center">Delete</th>
                      </tr>
                  </thead>
                  <tbody>
                    <%= render partial: 'table' %>
                  </tbody>
                </table>
          </div>
      </div>
  </div>
</div>
<script>
  actmm("admins")
</script>
