<div class="content bg-gray-lighter">
  <div class="row items-push">
      <div class="col-sm-7">
      </div>
      <div class="col-sm-5 text-right">
        <%= link_to (raw('<i class="fa fa-plus"></i> All Users')), invite_users_path, {:class => 'btn btn-success'} %>
      </div>
  </div>
</div>
<div class="col-md-6 col-md-offset-3">
	<div class="block block-themed">
		<div class="block-header bg-primary">
		   <h3 class="block-title">Add</h3>
		</div>
		<div class="block-content">
			<%= form_tag send_invitation_path, method: :post, :class => 'form-horizontal push-10-t push-10' do %>
		       <div class="form-group">
		           <div class="col-xs-12">
		               <div class="form-material">
		               	<%= email_field_tag 'email', nil, :class => 'form-control', :placeholder => 'Email' %>
		                   <label>Enter Email</label>
		               </div>
		           </div>
		       </div>
		       <div class="form-group">
		           <div class="col-xs-12">
		               <div class="form-material">
		               	<%= select_tag 'role', options_for_select(Role.all.map {|r| r.name.titleize}), :class => 'form-control' %>
		                   <label>Select role</label>
		               </div>
		           </div>
		       </div>
		       <div class="form-group">
		           <div class="col-xs-12">
		           	<%= submit_tag 'Invite', :class => 'btn btn-sm btn-primary' %>
		           </div>
		       </div>
		   <% end %>
		</div>
	</div>
</div>
