<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :otp %><br>
    <%= f.number_field :otp %>
  </div>
  <div class="field">
    <%= f.label :otp_verified %><br>
    <%= f.check_box :otp_verified %>
  </div>
  <div class="field">
    <%= f.label :email_verified %><br>
    <%= f.check_box :email_verified %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :authtoken %><br>
    <%= f.text_field :authtoken %>
  </div>
  <div class="field">
    <%= f.label :createdAt %><br>
    <%= f.datetime_select :createdAt %>
  </div>
  <div class="field">
    <%= f.label :updatedAt %><br>
    <%= f.datetime_select :updatedAt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
