<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Registered Pickle Users
      </h1>
    </div>
  </div>
</div>
<div class="content">
  <div class="block">
    <div class="block-header">
    </div>
    <div class="block-content">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-header-bg">
          <thead>
            <tr>
              <th class="text-center">Id</th>
              <th class="text-center">Name</th>
              <th class="text-center">Email</th>
              <th class="text-center">Mobile</th>
              <th class="text-center">Age</th>
              <th class="text-center">Gender</th>
              <th class="text-center">Otp</th>
              <th class="text-center">Otp Verified</th>
              <th class="text-center">Email Verified</th>
              <th class="text-center">Registered At</th>
              <th class="text-center">Updated At</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |u| %>
              <tr>
                <td class="text-center"> <%= u.id %> </td>
                <td class="text-center"> <%= u.name %> </td>
                <td class="text-center"> <%= u.email %> </td>
                <td class="text-center"> <%= [13, 14].include?(u.mobile.length) ? u.mobile[0..9] : u.mobile %> </td>
                <td class="text-center"> <%= u.age %> </td>
                <td class="text-center"> <%= u.gender %> </td>
                <td class="text-center"> <%= u.otp %> </td>
                <td class="text-center"> <%= u.otp_verified %> </td>
                <td class="text-center"> <%= u.email_verified %> </td>
                <td class="text-center"> <%= u.createdAt.to_s(:db) rescue nil %> </td>
                <td class="text-center"> <%= u.updatedAt.to_s(:db) rescue nil %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
actmm("users")
</script>

