<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Otp:</strong>
  <%= @user.otp %>
</p>

<p>
  <strong>Otp verified:</strong>
  <%= @user.otp_verified %>
</p>

<p>
  <strong>Email verified:</strong>
  <%= @user.email_verified %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @user.dob %>
</p>

<p>
  <strong>Authtoken:</strong>
  <%= @user.authtoken %>
</p>

<p>
  <strong>Createdat:</strong>
  <%= @user.createdAt %>
</p>

<p>
  <strong>Updatedat:</strong>
  <%= @user.updatedAt %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
