<div class="content bg-image overflow-hidden" style="background-image: url('<%= asset_path('background.jpg') %>');">
  <div class="push-50-t push-15">
    <h1 class="h2 text-white animated zoomIn">Pickle</h1>
    <h2 class="h5 text-white-op animated zoomIn">Billions of bilious blue blistering barnacles!</h2>
  </div>
</div>
<div class="content bg-white border-b">
  <div class="row items-push text-uppercase">
    <div class="col-xs-6 col-sm-3">
      <div class=" text-gray-darker animated fadeIn">Businesses With Deals</div>
      <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
      <a class="h2 font-w300 text-primary animated flipInX" href="base_comp_charts.html">
        <%= @hsh[:businesses_with_deals] %>
      </a>
      <small>-<%= @hsh[:businesses_without_deals] %></small>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class=" text-gray-darker animated fadeIn">Businesses with 10+ Branches</div>
      <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
      <a class="h2 font-w300 text-primary animated flipInX" href="base_comp_charts.html"><%= @hsh[:businesses_with_highbranches] %>
    </a>
    <small>
      <%= @hsh[:business_names] %>
    </small>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div class=" text-gray-darker animated fadeIn">Deals / Favorites</div>
    <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
    <a class="h2 font-w300 text-primary animated flipInX" href="base_comp_charts.html">
      <%= @hsh[:deals] %> / <%= @hsh[:favs] %>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div class=" text-gray-darker animated fadeIn">Orphaned Categories</div>
    <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
    <a class="h2 font-w300 text-primary animated flipInX" href="base_comp_charts.html"><%= @hsh[:orphaned_categories] %></a>
    <small>
      <%= @hsh[:category_names] %>
    </small>
  </div>
</div>
</div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="block">
        <div class="block-header">
          <ul class="block-options">
            <li>
            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
            </li>
          </ul>
          <h3 class="block-title">Reports</h3>
        </div>
        <div class="block-content block-content-full">
          <!-- Stacked Chart Container -->
          <div id="chart_container">      </div>
    </div>
  </div>
</div>
<script>
  home_charts()
</script>
