<div class="row">
  <div class="col-md-8">
    <% if @deal.nil? %>
      <h2>Enter the Deal Code</h2>
    <% else %>
      <div class="redeem-business-meta">
        <div><%= @branch.try(:name) %></div>
        <span><%= @branch.try(:address) %></span>
      </div>

      <div class="redeem-pickle-support">
        Pickle Customer Service Call <br />
        Ph: 044-45454545
      </div>
    <% end %>
  </div>
</div>


<% if !@deal.nil? %>
  <hr>
  <div class="block">
    <div class="block-content">
      <div class="table-responsive">

        <% if @user_history.count > 0 %>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">No</th>
              <th class="text-center">Name</th>
              <th class="text-center">Offer Title</th>
              <th class="text-center">Type</th>
              <th class="text-center">Payment</th>
              <th class="text-center">Price</th>
              <th class="text-center">Code</th>
              <th class="text-center">Redeemed at</th>
            </tr>
          </thead>
          <tbody>
            <% @user_history.reverse.each_with_index do |b, i| %>
              <tr>
                <td class="text-center mid-vertical"><%= i+1 %></td>
                <td class="text-center mid-vertical"><img class="avatar-circle" src="<%= @user.image_url %>" style="width: 30px;"> &nbsp; 
                <%= @user.name %></td>
                <td class="text-center mid-vertical">
                  <% if b.deal %>
                    <%= b.deal.name %>
                  <% else %>
                    <em>Deleted Deal/Branch</em>
                  <% end %>
                </td>
                <td class="text-center mid-vertical">
                  <% if b.deal %>
                    <%= b.deal.deal_type.sub('_', ' ').chomp('s').titleize %>
                  <% end %>
                </td>
                <td class="text-center mid-vertical">
                  <% if b.deal %>
                    <% if b.deal.deal_type == 'punched_cards' %>
                      -
                    <% else %>
                      <%= b.deal_codes[0].buy_type == 'cash' ? "Pay at Store" : "Paid in Full" %>
                    <% end %>
                  <% end %>
                </td>
                <td class="text-center mid-vertical">
                  <% if b.deal %>
                    <% if b.deal.deal_type == 'punched_cards' %>
                      Free Item
                    <% else %>
                      <%= b.deal.deal_price %>
                    <% end %>
                  <% end %>
                </td>
                <td class="text-center mid-vertical"><%= b.deal_codes[0].code %></td>
                <td class="text-center mid-vertical"><%= b.deal_codes[0].redeemed_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
        <div class="text-center">
          This user has not made redemptions yet.
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

