<div class="row">
  <div class="col-md-8">
    <% if @deal.nil? %>
      <h2>Enter the Deal Code</h2>
    <% else %>
      <div class="redeem-business-meta">
        <div><%= @branch.try(:name) %></div>
        <span><%= @branch.try(:address) %></span>
      </div>

      <div class="redeem-pickle-support">
        Pickle Customer Service Call <br />
        Ph: 044-45454545
      </div>
    <% end %>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <%= form_tag "/redeems", :html => {:class => 'form-horizontal' } do  %>
      <input id="redeem_deal_code" class="form-control ui-autocomplete-input redeem-deal-input" type="text" name="deal_code" value='<%= params["deal_code"] %>' autocomplete="off">
      <div class="row form-group">
        <div class="col-xs-6">
            <div class="push-20-t">
              <strong>
                <a class="pointer" id="clear-redeem">Clear</a>
              </strong>
            </div>
        </div>
        <div class="col-xs-6">
          <div class="form-material pull-right">
            <p><%= submit_tag "Enter", :class => "btn btn-default btn-redeem-dark" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>


<% if !@deal.nil? %>
  <hr>
  <div class="row" style="margin-top: 40px;">
    <div class="col-md-4">
      <%= render "redeem_deal_detail" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <%= render "redeem_user_detail" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#clear-redeem').click(function() {
      window.location.href = '/redeems';
    });
  });
</script>

