<div class="row">
  <div class="col-xs-12">
    <div class="redeem-product-container">
      <div class="redeem-product-title-container">
        <div class="redeem-section-title">Title</div>
        <div class="redeem-section-content"><%= @deal['name'] %></div>
      </div>
      <div class="redeem-product-image" style="margin-top: 15px;">
        <img src="<%= @image['medium'] %>" alt="" style="width: 100%;">
      </div>
      <% if @type == 'punched_card' %>
      <div class="redeem-product-stamps">
        <% for i in 1..@punch_card.deal.no_of_stamps-1 %>
        <span class="stamp-round <%= @stamped_count >= i ? 'active' : '' %>">
          <% if @stamped_count >= i %>
            <i class="fa fa-check"></i>
          <% else %>
            <%= i %>
          <% end %>
        </span>
        <% end %>
        <span class="stamp-round <%= @stamped_count == @punch_card.deal.no_of_stamps ? 'active' : '' %>">
          <i class="fa fa-star-o"></i>
        </span>
      </div>
      <% end %>
      <% if @is_punched_deal %>
      <div class="redeem-product-stamps">
        <% for i in 1..@deal["no_of_stamps"]-1 %>
        <span class="stamp-round active"><i class="fa fa-check"></i></span>
        <% end %>
        <span class="stamp-round <%= @deal['redeem_info'] == 'u' ? 'active' : '' %>">
          <i class="fa fa-star-o"></i>
        </span>
      </div>
      <% end %>
      <div class="redeem-product-details" style="margin-top: 30px;">
        <div class="row">
          <div class="col-xs-12">
            <div class="redeem-section-title">Details</div>
            <div class="redeem-section-content"><%= @deal["description"] %></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="redeem-section-title">Valid On</div>
            <div class="redeem-section-content"><%= @available_days %></div>
          </div>
          <div class="col-md-7">
            <div class="redeem-section-title text-right">Use Between</div>
            <div class="redeem-section-content text-right"><%= @use_between_text %></div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-7">
            <strong>EXPIRY</strong>: <%= @deal["code_expiry_date"] %>
          </div>
          <div class="col-md-5">
            <a class="redeem-section-more-info pointer pull-right">More Info</a>
          </div>
        </div>
      </div>
    </div>
    <div class="redeem-product-more-info-container">
      <div class="row">
        <div class="col-xs-12">
          <a class="btn btn-default btn-sm redeem-product-back-button"><i class="fa fa-chevron-left"></i> Back</a>
        </div>
      </div>
      <div class="row push-20-t text-center">
        <div class="col-xs-4">
          <a class="redeem-product-info-tab" data-section="description">Description</a>
        </div>
        <div class="col-xs-3">
          <a class="redeem-product-info-tab" data-section="terms">T &amp; C</a>
        </div>
        <div class="col-xs-5">
          <a class="redeem-product-info-tab" data-section="how-to">How to Redeem</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="redeem-product-more-info-section push-20-t">
            <div class="redeem-product-more-info-tabdata redeem-product-description">
              <div class="text-center"><strong><%= @deal['name'] %></strong></div>
              <div class="push-10-t">
                <%= @deal["description"] %>
              </div>
            </div>
            <div class="redeem-product-more-info-tabdata redeem-product-terms">
              <%= @deal_info["terms_and_conditions"].try(:html_safe) %>
            </div>
            <div class="redeem-product-more-info-tabdata redeem-product-how-to">
              <%= @deal_info["redeem_steps"].try(:html_safe) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.redeem-product-more-info-container').hide();

    $('.redeem-section-more-info').click(function() {
      $('.redeem-product-container').fadeOut(100);
      $('.redeem-product-more-info-container').delay(100).fadeIn(100);
      $('.redeem-product-info-tab:first').click();
    });

    $('.redeem-product-back-button').click(function() {
      $('.redeem-product-more-info-container').fadeOut(100);
      $('.redeem-product-container').delay(100).fadeIn(100);
    });

    $('.redeem-product-info-tab').click(function() {
      $('.redeem-product-info-tab').removeClass('active');
      $(this).addClass('active');
      $('.redeem-product-more-info-tabdata').slideUp(100);
      var sectionName = $(this).data('section');
      $('.redeem-product-' + sectionName).slideDown(100);
    });
  })
</script>