<div class="redeem-user-container">
  <div class="redeem-user-details">
    <div class="row">
      <div class="col-md-6">
        <div class="redeem-section-title">Name</div>
        <div class="redeem-section-content"><%= @user.try(:name) %></div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>

  <div class="redeem-user-redemption">
    <div class="row">
      <div class="col-md-6">
        <div class="redeem-section-title">Total Deals Redeemed</div>
        <div class="redeem-section-content section-block-outline">
          <%= @user_redeemed_deals %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="redeem-section-title">Total Spent on Deals</div>
        <div class="redeem-section-content section-block-outline">
          ₹ <%= @user_total_deal_spend %>
        </div>
      </div>
      <% if false %>
      <div class="col-md-6">
        <div class="redeem-section-title">Total Stamps Punched</div>
        <div class="redeem-section-content section-block-outline">
          <%= @user_total_stamps_punched %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="redeem-section-title">&nbsp;</div>
        <div class="redeem-section-content text-center">
          <a id="customer_history_link" class="pointer">View Customer History</a>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <hr />

  <div class="redeem-user-payment">
    <div class="row">
      <div class="col-md-6">
        <div class="redeem-section-title">Payment Status</div>
        <div class="redeem-section-content section-grey-block">
          <%= @pay_msg %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="redeem-section-title">Amount Due</div>
        <div class="redeem-section-content section-grey-block">
          <% if @buy_type == "cash" %>
            <%= @deal['deal_price'] %>
          <% else %>
            -
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="redeem-section-title">Voucher Status</div>
        <div class="redeem-section-content section-grey-block <% if !@is_redeemable %>text-red<% end %>">
          <%= @deal_status %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="redeem-section-title">&nbsp;</div>
        <div class="redeem-section-content">
        <% if @is_redeemable %>
          <a class="btn btn-success btn-block btn-redeem-confirm" href="/deals/redeem_code/<%= params['deal_code'] %>">
          <% if @type == 'regular' %>
            Confirm
          <% elsif @type == 'punched_card' %>
            Stamp
          <% end %>
          </a>
        <% else %>
          <a class="btn btn-default btn-block btn-redeem-confirm btn-redeem-dark disabled" style="pointer: ">Confirm</a>
        <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#customer_history_link').click(function() {
      $('a[href="#tab-history"]').click();
    });
  })
</script>