<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-12">
      <h1 id="page_header" class="page-heading">
        Redeem
      </h1>
    </div>
  </div>
</div>

<div class="block col-md-12" id="rootwizard">
  <div class="js-wizard-simple block">
    <ul class="nav nav-tabs nav-justified grey-bg">
      <li class="active">
        <a href="#tab-redeem" data-toggle="tab">Redeem Codes / Stamp Punch Cards</a>
      </li>
      <% if !@deal.nil? %>
      <li class="">
        <a href="#tab-history" data-toggle="tab">History</a>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="block-content tab-content">
    <div class="tab-pane fade fade-up push-30-t push-50 active in" id="tab-redeem">
      <%= render "redeem" %>
    </div>
    <div class="tab-pane fade fade-up push-30-t push-50" id="tab-history">
      <%= render "history" %>
    </div>
  </div>
</div>


<script>
actmm("redeems")
</script>
