<% txt_val = f.object.business.name rescue "" %>
<%= form_element("business_id",f,:text_field,[class: "form-control autocomplete_special",name: "",id: "business_name",value: txt_val],10,true,true,true) %>
<%= f.hidden_field :business_id %>

<div class="row form-group">
  <div class="col-xs-12">
    <div id="all_branches" style="display:none;">
      <div class="col-md-12">
        <label class="css-input switch switch-sm switch-success">
          <% a_bran = f.object.all_branches %>
          <% checked = {checked: (a_bran.nil? ? true : a_bran) } %>
          <%= f.check_box :all_branches, checked, 1, 0 %><span></span>All Branches
        </label>
      </div>
    </div>
  </div>
</div>

<div id="search_branch" class="col-md-12" style="display:none;">

  <div class="col-xs-12 block block-themed block-rounded">
    <div class="block-header bg-flat">
      <ul class="block-options">
      </ul>
      <h3 class="block-title">Branches</h3>
    </div>
    <div id="branches" style="display:none;" class="block-content">
    </div>
  </div>
</div>

<script>
initSpecialAutoComplete();
</script>
