<br/>
<%= form_for @special, :html => {:class => 'form-horizontal' } do |f| %>
  <% if flash[:error] %>
    <div class="col-sm-12">
      <div class="block">
        <div class="block-header">
          <code>
            Errors:
            <%= flash[:error] %>
          </code>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-6 col-md-offset-3">
    <div class="block">
      <div class="block-content specials_form">
        <% if false %>
        <%= form_element("title",f,:text_field,[class: "form-control"],12,true,true,false) %>
        <% end %>
        <%= form_element(["text","Text(250)"],f,:text_area,[maxlength: "250",size: "150x3", class: "form-control"],12,true,true,false) %>

        <%= form_element("image",f,:text_field,[class: "form-control"],12,true,true) %>
        <%= form_element("image_preview",f,:text_field,[class: "form-control"],8,false) %>
        <h4 id="upload_status" class="text-center"></h4>
        <br/>
        <%= form_tag('upload_images', :method => :post, :class =>'new_upload', :enctype => 'multipart/form-data') do %>
          <div class="row">
            <div class="col-sm-6 text-warning text-center">
              <%= cl_image_upload_tag(:image_id, :crop => :limit,
                                      :html => {accept: "image/*", :class => "image_upload form-control", :name => "upload_images"}) %>
          </div>
          </div>
        <% end %>
        <br/>

          <%= render "business" ,f: f%>

        <div class="form-group"></div>
        <div class="row form-group text-center">
          <div class="col-xs-12">
            <div class="form-material">
              <p><%= f.submit "Save Special", :class => "btn-lg btn-sm btn-success" %></p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  </div>
<% end %>

<script>
actmm("specials");
image_cloudinary_upload_generic(".specials_form","#special_image");
</script>
