<table class="table table-striped table-hover table-header-bg">
  <thead>
    <tr>
      <th class="text-center">Title</th>
      <th class="text-center">Text</th>
      <th class="text-center">Business</th>
      <th class="text-center">Actions</th> </tr> </thead>
  <tbody>
    <% @specials.each do |special| %>
      <tr>
        <td class="text-center"><%= link_to special.title,edit_special_path(special) %></td>
        <td class="text-center"><%= special.text %></td>
        <td class="text-center"><%= special.business.try(:name) %></td>
        <td class="text-center">
          <div class="btn-group">
            <% if can? :update, special %>
              <%= link_to (raw('<i class="fa fa-pencil"></i>')), edit_special_path(special), {:class => 'btn btn-xs btn-default'} %>
            <% end %>

            <% if can? :delete, special %>
              <%= link_to (raw('<i class="fa fa-times"></i>')), special, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?'} %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
