<div class="col-md-6 col-md-offset-3">
  <div class="block">
    <div class="block-header">
      <ul class="block-options">
        <li class="dropdown">
          <button type="button" data-toggle="dropdown">
            <i class="fa fa-angle-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right font-s13">
            <li>
              <h4 class="text-center" href="javascript:void(0)"><%= special.title %></h4>
            </li>
            <li class="divider"></li>
            <li>
              <a tabindex="-1" href="/specials/<%= special.id %>/edit">
                <i class="fa fa-edit text-warning push-5-r"></i>
                Edit Special
              </a>
            </li>
            <li>
              <a tabindex="-1" href="/specials/<%= special.id %>" data-confirm="Are you sure?" data-method="delete">
                <i class="fa fa-times text-danger push-5-r"></i>
                Delete Special
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a tabindex="-1" href="/businesses/<%= business.id %>/edit">
                <i class="fa fa-book push-5-r"></i>
                Visit Business
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="clearfix">
        <div class="pull-left push-15-r">
          <img class="img-avatar img-avatar48" src="<%= business.logo %>" alt="">
        </div>
        <div class="push-5-t">
          <a class="font-w600" href="/businesses/<%= business.id %>"><%= business.name.titleize %></a><br>
          <span class="font-s12 text-muted"><%= time_ago_in_words(special.created_at) %> ago</span>
        </div>
      </div>
    </div>
    <div class="block-content block-content-full">
      <p class="push-10 pull-t"><%= special.text %></p>
      <% if !special.image.blank? %>
        <img class="img-responsived" src="<%= special.image %>" alt="" height=350 width=480>
      <% end %>
    </div>

  </div>
</div>
