<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 id="page_header" class="page-heading">
        Feeds <small>(<%= @specials.total_count %>)</small>
      </h1>
    </div>
    <% if can? :create, Special %>
      <div class="col-sm-5 text-right">
        <%= link_to (raw('<i class="fa fa-plus"></i> New Special')), new_special_path, {:class => 'btn btn-success'} %>
      </div>
    <% end %>
  </div>
</div>

<% if @specials.present? %>
  <div class="text-center">
    <%= paginate @specials %>
  </div>
  <% @specials.each do |special| %>
    <% if special.business %>
      <%= render "timeline", special: special, business: special.business %>
    <% end %>
  <% end %>
<% else %>
  <h3 class="text-center" style="padding-bottom:20px;">Currently no special to show.</h3>
<% end %>




<% if false %>
  <div class="block">
    <div class="block-content">

      <% if @specials.present? %>
        <div class="text-center">
          <%= paginate @specials %>
        </div>
        <%= render 'table' %>
      <% else %>
        <h3 class="text-center" style="padding-bottom:20px;">Currently no special to show.</h3>
      <% end %>
    </div>
  </div>
<% end %>




<script>
actmm("specials");
</script>
