<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-9">

      <h1 id="page_header" class="page-heading" data-type="new">
        New Feed
        <small>
          feeds are simply special!
        </small>
      </h1>
    </div>
    <div class="col-sm-3 text-right">
      <%= link_to (raw('<i class="fa fa-arrow-left"></i> Back')), specials_path, {:class => 'btn btn-xs btn-default'} %>
    </div>
  </div>
</div>
<%= render 'form', text: 'Add' %>
