<div class="block row col-sm-10 field mb-20">
  <%= f.attribute_fields do |a| %>
    <div class="col-xs-2">
      <%= a.attribute_select({associations: [:sub_category,:business], include_blank: false},{class: "form-control"}) %>
    </div>
  <% end %>
  <div class="col-xs-2">
    <%= f.predicate_select({compounds: false},{class: "form-control"}) %>
  </div>
  <%= f.value_fields do |v| %>
    <div class="col-xs-6">
      <%= v.text_field :value, {class: "form-control"}%>
    </div>
  <% end %>
  <div class="col-xs-1">
    <%= link_to "remove", '#', class: "remove_fields" %>
  </div>
</div>
