<%= nested_form_for @deal, :html => {:class => 'form-horizontal', id: "deal_form" } do |f| %>
  <% if flash[:error] %>
    <div class="col-sm-12">
      <div class="block">
        <div class="block-header">
          <code>
            Errors:
            <%= flash[:error] %>
          </code>
        </div>
      </div>
    </div>
  <% end %>
  <div class="pull-left" id="switches" style="margin-left: 15px;">
    <label class='mt-8 ml-20' style="margin-left: 25px">Admin Approval</label>
    <div class="col-md-2">
      <label class="css-input switch switch-sm switch-success">
        <% checked = {checked: f.object.send('app_post')} %>
        <%= f.check_box :app_post,checked, 1, 0 %><span></span>
      </label>
    </div>
  </div>
  <div class="pull-right" id="switches">
    <label class='mt-8 ml-20' style="margin-left: 28px;">Enable Offer</label>
    <div class="col-md-2">
      <label class="css-input switch switch-sm switch-success">
        <% checked = {checked: f.object.send('state')} %>
        <%= f.check_box :state,checked, 1, 0 %><span></span>
      </label>
    </div>
  </div>
  <div class="col-md-12" id="rootwizard">
    <div class="js-wizard-simple block">
      <ul class="nav nav-tabs nav-justified grey-bg">
        <li class="active">
        <a href="#tab-basic" data-toggle="tab">1. Basic</a>
        </li>
        <li class="">
        <a href="#tab-branch" data-toggle="tab">2. Branch Validation</a>
        </li>
        <li class="">
        <a href="#tab-more" data-toggle="tab">3. More Info</a>
        </li>
        <li class="">
        <a href="#tab-preview" data-toggle="tab" id="preview_tab">4. Preview</a>
        </li>
      </ul>

      <div class="block-content block-content-mini block-content-full border-b">
        <div class="wizard-progress progress progress-mini remove-margin-b">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
        </div>
      </div>


      <div class="block-content block-content-mini block-content-full border-t">
        <div class="col-xs-6">
          <button class="wizard-prev btn btn-default disabled" type="button"><i class="fa fa-arrow-left"></i> Previous</button>
        </div>
        <div class="col-xs-6 text-right">
          <button style="display: inline-block;" class="wizard-next btn btn-default" type="button">Next <i class="fa fa-arrow-right"></i></button>

          <%= f.submit "Save Deal",{:class => "wizard-finish btn btn-success",onclick: "return saveDeal();"}   do %>
            <i class="fa fa-check"></i>
          <% end %>
        </div>
      </div>


      <div class="block-content tab-content">
        <div class="tab-pane fade fade-up push-30-t push-50 active in" id="tab-basic">
          <div class="row">
            <div class="col-md-12">
              <div style="text-align: center;">
                <%= form_element("deal_type",f,:select,[[["Select an offer type", ""],["Deals/Discounts","regular"],["Info/Promotions","info"],["Punch Cards","punched_cards"]],{},{class: "form-control deal-type"}],12,true,true,false) %>
              </div>
            </div>
          </div>
          <hr />
          <div class="deal-basic-main" style="display: none;">
            <div class="row">
              <div class="col-md-6 mycontent-left">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <%= form_element("name",f,:text_field,[class: "form-control"],12,true,true,false) %>
                      <div id="deal_info_meta_text" style="display:none;">
                        <%= form_element(["meta_text","Deal Info"],f,:text_area,[size: "150x2", class: "form-control"],12,true,true,false) %>
                      </div>
                      <div id="deal_no_of_stamps" style="display:none;">
                        <%= form_element("no_of_stamps",f,:select,[[3,4,5,6,7,8,9,10], {}, {class: "form-control"}],10,true,true,true) %>
                      </div>
                      <div>
                      <%= form_element(["price","Old Price"],f,:text_field,[class: "form-control"],12,true,true,true) %>
                      <%= form_element(["deal_price", "Offer Price"],f,:text_field,[class: "form-control"],12,true,true,true) %>
                      </div>
                      <%= form_element(["description","Details"],f,:text_area,[maxlength: "125",size: "150x3", class: "form-control"],12,true,false) %>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="row">
                          <%= form_element(["buy_start_date", "Offer Starts"],f,:text_field,[class: "js-datepicker-future form-control", onkeydown: "return false"],12,true,true,false) %>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <%= form_element(["buy_end_date", "Offer Ends"],f,:text_field,[class: "js-datepicker-future form-control", onkeydown: "return false"],12,true,true,false) %>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <%= form_element(["code_expiry_date", "Code Expiry"],f,:text_field,[class: "js-datepicker-future form-control", onkeydown: "return false"],12,true,true,false) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <%= render 'images', f: f %>
              </div>
            </div>

          </div>
        </div>


        <div class="tab-pane fade fade-up push-30-t push-50 deal_images" id="tab-branch-validation">
          
        </div>

        <div class="tab-pane fade fade-up push-30-t push-50" id="tab-branch">

          <div class="row">
            <div class="col-md-5">
              <%= form_element("business_name",f,:text_field,[class: "form-control auto_search_complete"],10,true,true,true) %>
              <%= f.hidden_field :business_id %>

              <div class="row form-group payment-quantity-section">
                <div class="col-xs-12">

                  <div id="payment_options">
                    <div>
                      <div class="col-md-12"><label>Payment Options <span class="red">&nbsp;*</span></label></div>
                      <% field_label = {"app_buyable" => "Purchasable In-app", "cash_buyable" => "Pay at store"} %>

                      <% %w(cash_buyable).each do |i| %>
                        <div class="row col-md-6 block" id="switches">
                          <label class='mt-8 ml-20'><%= field_label[i] %></label>
                          <div class="col-md-2">
                            <label class="css-input switch switch-sm switch-success">
                              <% checked = {checked: f.object.send(i)} %>
                              <%= f.check_box i.to_sym,checked, 1, 0 %><span></span>
                            </label>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <div id="limited" style="display:none;">
                    <div class="col-md-12">
                      Set Quantity &nbsp;<i class="fa fa-info-circle" data-toggle="tooltip" title="Limited Quantity feature is available only when 'Pay at Store' is disabled"></i>
                    </div>
                    <div class="row col-md-6">
                      <label class='mt-8 ml-20'>Enable Limited Quantity</label>
                      <div class="col-md-2">
                        <label class="css-input switch switch-sm switch-success">
                          <%= f.check_box :limited, {}, 1, 0 %><span></span>
                        </label>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12"><label>Valid On</label><span class="red">&nbsp;*</span></div>
                <% %w(sun mon tue wed thu fri sat).each do |i| %>
                  <div class="form-group col-md-3 col-lg-2" id="valid_on">
                    <div class="col-md-12">
                      <label class="css-input switch switch-sm switch-warning">
                        <% checked = {} %>
                        <%= f.check_box i.to_sym, checked, 1, 0 %><span></span>
                        <br/><%= i.titleize %>
                      </label>
                    </div>
                  </div>
                <% end %>
              </div>

              <%= f.hidden_field :redeem_type %>

              <div class="row">
                <div class="col-md-12">
                  <div class="row redeem-type-item">
                    <div class="col-md-1">
                      <div style="margin-top: 30px;">
                        <input type="checkbox" data-redeem-type="time" class="redeem-type-selection">
                      </div>
                    </div>
                    <div class="col-md-10">
                      <%= form_element("deal_start_time",f,:text_field,[class: "form-control redeem-type-input"],12,true,true,true) %>
                      <%= form_element("deal_end_time",f,:text_field,[class: "form-control redeem-type-input"],12,true,true,true) %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-1">OR</div>
                    <div class="col-md-10">&nbsp;</div>
                  </div>

                  <div class="row redeem-type-item">
                    <div class="col-md-1">
                      <div style="margin-top: 30px;">
                        <input type="checkbox" data-redeem-type="date" class="redeem-type-selection">
                      </div>
                    </div>
                    <div class="col-md-10">
                      <%= form_element("start_date",f,:text_field,[class: "js-datepicker-future form-control redeem-type-input", onkeydown: "return false"],12,true,true,true) %>
                      <%= form_element("end_date",f,:text_field,[class: "js-datepicker-future form-control redeem-type-input", onkeydown: "return false"],12,true,true,true) %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-1">OR</div>
                    <div class="col-md-10">&nbsp;</div>
                  </div>

                  <div class="row">
                    <div class="col-md-1">
                      <div>&nbsp;</div>
                      <input type="checkbox" data-redeem-type="working_hours" class="redeem-type-selection">
                    </div>
                    <div class="col-md-10">
                      <div>&nbsp;</div>
                      <div style="margin-left: 15px;">Working Hours</div>
                    </div>
                  </div>

                  <div class="row" style="margin-top: 20px;">
                    <div class="col-md-1">OR</div>
                    <div class="col-md-10">&nbsp;</div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-1">
                      <div>&nbsp;</div>
                      <input type="checkbox" data-redeem-type="description" class="redeem-type-selection">
                    </div>
                    <div class="col-md-10">
                      <div>&nbsp;</div>
                      <div style="margin-left: 15px;">See Description</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="search_branch" class="col-md-12" style="display:none;">
          </div>
          <div class="push-30-t">
            <div class="col-md-12 block block-themed block-rounded">
              <div class="block-header bg-flat">
                <ul class="block-options">
                </ul>
                <h3 class="block-title">Branches</h3>
              </div>
              <div id="branches" style="display:none;" class="block-content">
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade fade-up push-30-t push-50" id="tab-more">

          <div class="row">
            <div class="col-md-10">
              <%= form_element("terms_and_conditions",f,:text_area,[size: "200x20", class: "form-control"],12,true,true) %>
              <%= form_element(["additional_info", "More Description"],f,:text_area,[size: "200x20", class: "form-control"],12,true,false) %>
            </div>
            <div class="col-md-2">
              <div>&nbsp;</div>
              You can edit your business terms and conditions in this space.
              <br />
              <br />
              Add terms specific to this offer, such as expiry date, bookings, cancellations, etc.
            </div>
          </div>
        </div>

        <div class="tab-pane fade fade-up push-30-t push-50" id="tab-preview">
          <%= render 'preview' %>
        </div>

      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    $('.redeem-product-more-info-container').hide();

    $('.redeem-section-more-info').click(function() {
      $('.redeem-product-container').fadeOut(100);
      $('.redeem-product-more-info-container').delay(100).fadeIn(100);
      $('.redeem-product-info-tab:first').click();
    });

    $('.redeem-product-back-button').click(function() {
      $('.redeem-product-more-info-container').fadeOut(100);
      $('.redeem-product-container').delay(100).fadeIn(100);
    });

    $('.redeem-product-info-tab').click(function() {
      $('.redeem-product-info-tab').removeClass('active');
      $(this).addClass('active');
      $('.redeem-product-more-info-tabdata').slideUp(100);
      var sectionName = $(this).data('section');
      $('.redeem-product-' + sectionName).slideDown(100);
    });
  })
</script>