<% to = @week_view ? "week_view" : "list_view" %>
<%= form_tag "/deals/week_view/#{params[:date]}/#{params[:window]}", method: :get do %>
  <div class="row">
    <div class="form-group col-md-2">
      <label class="col-xs-12">Business Id</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="<%= params[:business_id] %>" name="business_id">
      </div>
    </div>
    <div class="form-group col-md-3">
      <label class="col-xs-12">Business Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="<%= params[:business_name] %>" name="business_name">
      </div>
    </div>
    <div class="form-group col-md-2">
      <label class="col-xs-12">Branch Id</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="<%= params[:branch_id] %>" name="branch_id">
      </div>
    </div>
    <div class="form-group col-md-3">
      <label class="col-xs-12">Branch Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="<%= params[:branch_name] %>" name="branch_name">
      </div>
    </div>
    <div class="form-group col-md-2">
      <label class="col-xs-12">Search</label>
      <div class="col-md-10">
        <input class="btn btn-warning text-white" type="submit" value="Search" name="commit">
      </div>
    </div>
  </div>
<% end %>
