<div class="form-group">
  <div class="col-xs-12">
    <div class="form-material">
      <div class="col-xs-12" style="margin-left: 15px; margin-bottom: 10px;">
        <h5>Offer Card Photo</h5>
        <div class="red">Please upload an image that best describes this offer (500x500 resolution)</div>
      </div>
      <div class="text-center" id="upload_status"></div>
      <%= f.fields_for :images do |image| %>
        <div class="col-md-12 mycontent-left">
          <%= form_element(["original","image_url"],image,:text_field,[class: "form-control deal_image"],12,true,true) %>
          <%= form_element("image_preview",f,:text_field,[class: "form-control"],8,false) %>
          <%= image.hidden_field :medium,{class: "medium"} %>
          <%= image.hidden_field :thumb,{class: "thumb"}  %>
          <%= image.hidden_field '_destroy', value: 'false'  %>
          <%= form_tag('upload_images', :method => :post, :class =>'new_upload', :enctype => 'multipart/form-data') do %>
            <div class="row">
              <div class="col-sm-12 text-warning text-center">
                <%= cl_image_upload_tag(:image_id, :crop => :limit,
                                        :html => {accept: "image/*", :class => "image_upload form-control", :name => "upload_images"}) %>
            </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


