<table class="table table-striped table-hover table-header-bg">
  <thead>
    <tr >
      <th class="text-center">Status</th>
      <th class="text-center">Deal Name</th>
      <th class="text-center">Business ID</th>
      <th class="text-center">Business Name</th>
      <th class="text-center">Branch(No of branches)</th>
      <th class="text-center">Live</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td class="text-center"><%= deal_color(deal).html_safe %></td>
        <td class="text-center"><%= link_to deal.name,edit_deal_path(deal) %>
        <% if deal.deal_type == "punched_cards" %>
          <small class="text-muted"> - pc</small>
        <% end %>
        </td>
        <td class="text-center"><%= deal.business.try(:id) %></td>
        <td class="text-center"><%= deal.business.try(:name)  %></td>
        <td class="text-center"><%= @branches_count[deal.id] %></td>
        <td class="text-center">
          <% if @live_deal_ids.include?(deal.id) %>
          <i class="fa fa-circle text-flat"></i>
          <% else %>
          <i class="fa fa-circle text-warning"></i>
          <% end %>
        </td>
        <td class="text-center">
          <div class="btn-group">
            <%= link_to (raw('<i class="fa fa-pencil"></i>')), edit_deal_path(deal), {:class => 'btn btn-xs btn-default'} %>
            <%= link_to (raw('<i class="fa fa-times"></i>')), deal, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?'} %>
            <% if deal.deal_type == "punched_cards" %>
              <%= link_to (raw('<i class="fa fa-download"></i>')),"/generate_stamp/#{deal.id}", {remote: true,:class => 'btn btn-xs btn-default'} %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "generate_stamp" %>
