<div class="row">
  <div class="col-md-4">
    <div class="redeem-product-container">
      <div class="redeem-product-title-container">
        <div class="redeem-section-title">Title</div>
        <div class="redeem-section-content" id="preview_title">Some product</div>
      </div>
      <div class="redeem-product-image" style="margin-top: 15px;">
        <img src="" alt="" style="width: 100%;" id="preview_image">
      </div>
      <div class="redeem-product-details" style="margin-top: 30px;">
        <div class="row">
          <div class="col-xs-12">
            <div class="redeem-section-title">Details</div>
            <div class="redeem-section-content" id="preview_details"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="redeem-section-title">Valid On</div>
            <div class="redeem-section-content" id="preview_valid_on">Sun-Tue</div>
          </div>
          <div class="col-md-6">
            <div class="redeem-section-title text-right">Use Between</div>
            <div class="redeem-section-content text-right" id="preview_use_between"></div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-7">
            <strong>OFFER ENDS</strong>: <span id="preview_end"></span>
          </div>
          <div class="col-md-5">
            <a class="redeem-section-more-info pointer pull-right">More Info</a>
          </div>
        </div>
      </div>
    </div>
    <div class="redeem-product-more-info-container">
      <div class="row">
        <div class="col-xs-12">
          <a class="btn btn-default btn-sm redeem-product-back-button"><i class="fa fa-chevron-left"></i> Back</a>
        </div>
      </div>
      <div class="row push-20-t text-center">
        <div class="col-xs-4">
          <a class="redeem-product-info-tab" data-section="description">Description</a>
        </div>
        <div class="col-xs-3">
          <a class="redeem-product-info-tab" data-section="terms">T &amp; C</a>
        </div>
        <div class="col-xs-5">
          <a class="redeem-product-info-tab" data-section="how-to">How to Redeem</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="redeem-product-more-info-section push-20-t">
            <div class="redeem-product-more-info-tabdata redeem-product-description">
              <div class="text-center"><strong></strong></div>
              <div class="push-10-t">
              </div>
            </div>
            <div class="redeem-product-more-info-tabdata redeem-product-terms">
            </div>
            <div class="redeem-product-more-info-tabdata redeem-product-how-to">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>