<div class="col-xs-12">
  <% @branches.each do |b| %>
    <div class="form-group">
      <div class="col-xs-4">
        <label><%= b.name %></label>
      </div>

      <!-- <div class="col-xs-2">
        <label class="css-input switch switch-sm switch-info">
          <%#= check_box_tag "deal[branches_deals][#{b.id}][]",nil,false %>
          <span class=specific_branch_check></span>
        </label>
      </div> -->
      <% if @deal %>
        <% link = BranchesDeal.find_by(branch_id: b.id, deal_id: @deal.id) %>
      <% end %>
      <div class="col-xs-6">
        <%= text_field_tag "deal[branches_deals][#{b.id}][]",link.try(:original_qty),{class: "form-control",placeholder: "quantity"} %>
      </div>
    </div>
  <% end %>
</div>

