  <table class="table table-striped table-hover table-header-bg"> <thead> <tr > <th class="text-center">Name</th> <th class="text-center">Status</th> <th class="text-center">Business</th> <th class="text-center">Category</th> <th class="text-center">Price</th> <th class="text-center">Deal Price</th> <th class="text-center">Actions</th> </tr> </thead>
    <tbody>
      <% @deals.each do |deal| %>
        <tr>
          <td class="text-center"><%= link_to deal.name,edit_deal_path(deal) %></td>
          <td class="text-center"><%= deal_color(deal).html_safe %></td>
          <td class="text-center"><%= deal.business.try(:name) %></td>
          <td class="text-center"><%= deal.sub_category.try(:name)  %></td>
          <td class="text-center"><%= deal.price %></td>
          <td class="text-center"><%= deal.deal_price %></td>
          <td class="text-center">
            <div class="btn-group">
              <% if can :update, Deal %>
              <%= link_to (raw('<i class="fa fa-pencil"></i>')), edit_deal_path(deal), {:class => 'btn btn-xs btn-default'} %>
            <% end %>

              <% if can :delete, Deal %>
              <%= link_to (raw('<i class="fa fa-times"></i>')), deal, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?'} %>
            <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
