  <table class="table table-striped table-hover table-header-bg">
    <thead>
      <tr >
        <th class="text-center">Status</th>
        <th class="text-center">Name</th>
        <th class="text-center">Start Time</th>
        <th class="text-center">End Time</th>
        <th class="text-center">Live</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @deals.each do |deal| %>
        <tr>
          <td class="text-center"><%= deal_color(deal).html_safe %></td>
          <td class="text-center"><%= link_to deal.name,edit_deal_path(deal) %></td>
          <td class="text-center"><%= seconds_to_time(deal.start_time) %></td>
          <td class="text-center"><%= seconds_to_time(deal.end_time)  %></td>
          <td class="text-center"><%= deal_live?(deal) %></td>
          <td class="text-center">
            <div class="btn-group">
              <%= link_to (raw('<i class="fa fa-pencil"></i>')), edit_deal_path(deal), {:class => 'btn btn-xs btn-default'} %>
              <%= link_to (raw('<i class="fa fa-times"></i>')), deal, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?'} %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
