
<div class="row">
  <div class="col-xs-12">

    <%= dir_pill("left","/deals/week_view/#{@first}/#{@first}") %>

    <% @week_hsh.keys.each_with_index do |key,i| %>
      <% active = calc_active(params[:date],@week_hsh[key][0],i) %>
      <%= day_pill(key,"/deals/week_view/#{@week_hsh[key][0]}/#{@window}?#{@query_string}",active,@week_hsh[key][1]) %>
    <% end %>

    <%= dir_pill("right","/deals/week_view/#{@last}/#{@last}") %>
  </div>
</div>
