<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 id="page_header" class="page-heading" data-type="edit" data-value="<%= @deal.id %>">
        Edit Deal
      </h1>
    </div>
    <div class="col-sm-5 text-right">
    </div>
  </div>
</div>
<%= render 'form', text: 'Edit' %>

<script>
$(function(){


  $("#deal_deal_type").trigger("change");

  $("#deal_deal_type").prop("disabled", true);

  $(".deal_image").trigger("focusout");

  actmm("deals");

  choose_autocomplete(null,"edit");
  if(!$("#deal_all_branches").is(":checked")) {
    toggle_all_branches_unchecked();
  }
  else{
    toggle_all_branches_checked();
  }

  if(!$("#deal_limited").is(":checked")) {
    toggle_limited_unchecked();
  }
  else{
    toggle_limited_checked();
  }

  isAllBranches = false;
  <% if @deal %>
    var redeemTypeIdenfier = $('.redeem-type-selection[data-redeem-type="<%= @deal.redeem_type %>"]');
    redeemTypeIdenfier.prop('checked', true);
    redeemTypeIdenfier.change();
    <% if @deal.all_branches %>
    isAllBranches = true;
    <% end %>
  <% end %>
});
</script>
