<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 id="page_header" class="page-heading">
        Deals <small>(<%= @deals.total_count %>)</small>
      </h1>
    </div>
    <% if can? :create, Deal %>
    <div class="col-sm-5 text-right">
      <%= link_to (raw('<i class="fa fa-plus"></i> New Deal')), new_deal_path, {:class => 'btn btn-success'} %>
    </div>
    <% end %>
  </div>
</div>

<div class="block">
  <ul class="nav nav-tabs nav-tabs-alt nav-justified" >
    <li class="<%= @list_view ? 'active' : '' %>">
    <a href="/deals">
      <i class="fa fa-table"></i>
      List View
    </a>
    </li>
    <li class="<%= @week_view ? 'active' : '' %>">
    <a href="/deals/week_view">
      <i onclick="return false;" class="fa fa-calendar js-weekview-datepicker"></i>
      Week View
    </a>
    </li>
  </ul>
</div>


<% if @list_view %>
  <div class="col-sm-12">
    <div class="block">
      <div class="block-header">
        Filters
      </div>
      <%= search_form_for @q, url: search_deals_path, method: :post do |f| %>
        <div class="block-content ">
          <%= f.condition_fields do |c| %>
            <%= render "condition_fields", f: c %>
          <% end %>
          <div class="text-right">
            <%= link_to_add_fields "Add another filter", f, :condition %><br/>
            <label> Page limit:</label>

            <%= select_tag :limit, options_for_select([20, 50, 100, 150, 200, 250, 500], selected: params[:limit] || 20) %><br/>
            <br/>
            <%= f.submit "Submit", {class: "btn btn-info"} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% elsif @week_view %>
  <%= render "week_view_tabs" %>
  <%= render "frequent_search.html.erb" %>
<% end %>

<div class="block">
  <div class="block-content">

    <% if @deals.present? %>
      <div class="text-center">
        <%= paginate @deals %>
      </div>
      <% if @week_view %>
        <%= render 'week_table' %>
      <% elsif @list_view %>
        <%= render 'list_table' %>
      <% end %>

    <% else %>
      <h3 class="text-center" style="padding-bottom:20px;">Currently no deal to show.</h3>
    <% end %>
  </div>
</div>
<script>
  actmm("deals");
</script>
