<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-9">

      <h1 id="page_header" class="page-heading" data-type="new">
        New Offer
        <small>
          There are many reasons to create a deal in pickle, one of them is to be cool
        </small>
      </h1>
    </div>
    <div class="col-sm-3 text-right">
      <%= link_to (raw('<i class="fa fa-arrow-left"></i> Back')), deals_path, {:class => 'btn btn-xs btn-default'} %>
    </div>
  </div>
</div>
<%= render 'form', text: 'Add' %>

<script>
  actmm("deals")
  new_deal_assorted();
</script>
