<table class="table table-striped table-hover table-header-bg">
  <thead>
    <tr >
      <th class="text-center">Id</th>
      <th class="text-center">Name</th>
      <th class="text-center">City</th>
      <th class="text-center">Latitude</th>
      <th class="text-center">Longitude</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td class="text-center"><%= area.id %></td>
        <td class="text-center"><%= area.name %></td>
        <td class="text-center"><%= area.city.try(:name) %></td>
        <td class="text-center"><%= area.latitude %></td>
        <td class="text-center"><%= area.longitude %></td>
        <td class="text-center">
          <div class="btn-group">
            <% if can? :update, Area %>
              <%= link_to (raw('<i class="fa fa-pencil"></i>')), edit_area_path(area), {:class => 'btn btn-xs btn-default'} %>
            <% end %>
            <% if can? :delete, Area %>
              <%= link_to (raw('<i class="fa fa-times"></i>')), area, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?'} %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
