<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Areas <small>(<%= @areas.total_count %>)</small>
      </h1>
    </div>
    <% if can? :list, Area %>
      <div class="col-sm-5 text-right">
        <%= link_to (raw('<i class="fa fa-plus"></i> New Area')), new_area_path, {:class => 'btn btn-success'} %>
      </div>
    <% end %>
  </div>
</div>

<div class="block">
  <div class="block-content">
    <% if @areas.present? %>
      <div class="text-center">
        <%= paginate @areas %>
      </div>
      <%= render 'table' %>
    <% else %>
      <h3 class="text-center" style="padding-bottom:20px;">Currently no areas to show.</h3>
    <% end %>
  </div>
</div>
<script>
actmm("areas");
</script>
