<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="block block-themed animated fadeIn">
      <div class="block-header bg-primary">
        <ul class="block-options">
          <li class="m-t-n-md">
              <%= render "devise/shared/links" %>
          </li>
        </ul>
        <h3 class="block-title">Log in</h3>
      </div>
      <div class="block-content block-content-full block-content-narrow">
        <h1 class="h2 font-w600 push-30-t push-5">Pickle</h1>
        <p>Welcome, please login.</p>
        <%= form_for(resource, :html => {:class => 'js-validation-login form-horizontal push-30-t push-50'}, as: resource_name, url: session_path(resource_name))  do |f| %>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="form-material form-material-primary floating">
                        <%= f.email_field :email,  :placeholder => 'Email', :class => 'form-control' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="form-material form-material-primary floating">
                        <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password', :class => 'form-control' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <label class="css-input switch switch-sm switch-primary">
                      <%= f.check_box :remember_me, :id =>'login-remember-me' %><span></span> Remember Me?
                        
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <%= f.submit "Log in", :class => 'btn btn-block btn-primary' %>
                </div>
            </div>
        <% end %>
        <!-- END Login Form -->
    </div>
    </div>
  </div>
</div>
