<%= form_for(@role,:html => {class: "form-horizontal"}) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% @role.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="block block-themed">
      <div class="block-header bg-primary">
        <h3 class="block-title">Basic</h3>
      </div>

      <div class="block-content">

        <%= form_element("name",f,:text_field,[class: "form-control"],4) %>

        <%= form_element("description",f,:text_area,[size: "200x5", class: "form-control"],8) %>

        <div class="form-group"></div>

      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="block block-themed">
      <div class="block-header bg-primary">
        <h3 class="block-title">Permissions</h3>
      </div>

      <div class="block-content">

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">Resource</th>
              <% @permission_actions.each do |action| %>
                <th class="text-center"><%= action %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
              <% @permissions.keys.sort.each do |cl| %>
                <tr class="text-center">
                  <td><%= cl %></td>
                  <% (@permissions[cl].sort_by {|i| i.action}).each do |record| %>
                    <td><%= check_box_tag "role[permission_ids][]",record.id, @role.permissions.include?(record) %></td>
                  <% end %>
                </tr>
              <% end %>
          </tbody>
        </table>
        <div class="form-group"></div>
      </div>
    </div>
  </div>

  <div class="row form-group text-center">
    <div class="col-xs-12">
      <div class="form-material">
        <p><%= f.submit "Save Role", :class => "btn-lg btn-sm btn-success"%></p>
      </div>
    </div>
  </div>

<% end %>
