<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center">Id</th>
      <th class="text-center">Name</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <tr class="text-center">
        <td class="text-center"> <%= role.id %> </td>
        <td class="text-center"> <%= link_to role.name, edit_role_path(role) %> </td>
        <td class="text-center">
            <%= link_to (raw('<i class="fa fa-trash-o fa-2"></i>')), role, method: :delete, class: 'btn-sm btn-danger', data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

