<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Roles <small>(<%= @roles.count %>)</small>
      </h1>
    </div>
    <div class="col-sm-5 text-right">
      <%= link_to (raw('<i class="fa fa-plus"></i> New Role')), new_role_path, {:class => 'btn btn-success'} %>
    </div>
  </div>
</div>

<div class="block">
  <div class="block-content">
    <% if @roles.present? %>
      <%= render 'table' %>
    <% else %>
      <h3 class="text-center" style="padding-bottom:20px;">Currently no roles to show.</h3>
    <% end %>
  </div>
</div>
<script>
  actmm("roles");
</script>
