<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        New Role
      </h1>
    </div>
  </div>
</div>


<%= render 'form' %>

<script>
actmm("roles");
</script>
