<div class="col-md-6 col-md-offset-3">
  <div class="block block-themed">
    <div class="block-header bg-primary">
      <h3 class="block-title"><%= text %></h3>
    </div>
    <div class="block-content">
      <%= form_for(@country, :html => { :class => 'form-horizontal push-10-t push-10' }) do |f| %>
        <div class="form-group">
          <div class="col-xs-12">
            <div class="form-material">
              <%= f.text_field :name, :class => 'form-control' %>
              <label>Name</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <%= f.submit 'Save', :class => 'btn btn-sm btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--<%#= form_for(@country) do |f| %>
  <%#if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <%# @country.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <#% end %>
      </ul>
    </div>
  <#% end %>
<#% end %>-->
<script type="text/javascript">
  actmm("countries");
</script>