<table class="table table-striped table-hover table-header-bg">
  <thead>
    <tr >
      <th class="text-center">Id</th>
      <th class="text-center">Name</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td class="text-center"><%= country.id %></td>
        <td class="text-center"><%= country.name %></td>
        <td class="text-center">
          <div class="btn-group">
            <% if can? :update, Country %>
              <%= link_to (raw('<i class="fa fa-pencil"></i>')), edit_country_path(country), {:class => 'btn btn-xs btn-default'} %>
            <% end %>

            <% if can? :delete, Country %>
              <%= link_to (raw('<i class="fa fa-times"></i>')), country, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?'} %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
