<div class="content bg-gray-lighter">
<!--   <div class="row items-push">
      <div class="col-sm-7">
          <h1 class="page-heading">
              Edit Country
          </h1>
      </div> -->
      <div class="text-right">
        <%#= link_to (raw('<i class="glyphicon glyphicon-eye-open"></i>')), @category, {:class => 'btn btn-xs btn-default'} %>
        <%= link_to (raw('<i class="fa fa-arrow-left"></i> Back')), countries_path, {:class => 'btn btn-xs btn-default'} %>
      </div>
  <!-- </div> -->
</div>
<%= render 'form', text: 'Edit Country' %>