<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Countries <small>(<%= @countries.total_count %>)</small>
      </h1>
    </div>
    <% if can? :create, Country %>
    <div class="col-sm-5 text-right">
      <%= link_to (raw('<i class="fa fa-plus"></i> New Country')), new_country_path, {:class => 'btn btn-success'} %>
    </div>
  <% end %>
  </div>
</div>

<div class="block">
  <div class="block-content">
    <% if @countries.present? %>
      <div class="text-center">
        <%= paginate @countries %>
      </div>
      <%= render 'table' %>
    <% else %>
      <h3 class="text-center" style="padding-bottom:20px;">Currently no countries to show.</h3>
    <% end %>
  </div>
</div>
<script>
  actmm("countries");
</script>
