<table class="table table-striped table-hover table-header-bg">
  <thead>
    <tr >
      <th class="text-center">Id</th>
      <th class="text-center">Name</th>
      <th class="text-center">Country</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td class="text-center"><%= city.id %></td>
        <td class="text-center"><%= city.name %></td>
        <td class="text-center"><%= city.country.try(:name) %></td>
        <td class="text-center">
          <div class="btn-group">
            <% if can? :update, City %>
              <%= link_to (raw('<i class="fa fa-pencil"></i>')), edit_city_path(city), {:class => 'btn btn-xs btn-default'} %>
            <% end %>
            <% if can? :delete, City %>
              <%= link_to (raw('<i class="fa fa-times"></i>')), city, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?'} %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
