<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Cities <small>(<%= @cities.total_count %>)</small>
      </h1>
    </div>
    <div class="col-sm-5 text-right">
      <% if can? :create, City %>
        <%= link_to (raw('<i class="fa fa-plus"></i> New City')), new_city_path, {:class => 'btn btn-success'} %>
      <% end %>
    </div>
  </div>
</div>

<div class="block">
  <div class="block-content">
    <% if @cities.present? %>
      <div class="text-center">
        <%= paginate @cities %>
      </div>
      <%= render 'table' %>
    <% else %>
      <h3 class="text-center" style="padding-bottom:20px;">Currently no cities to show.</h3>
    <% end %>
  </div>
</div>
<script>
actmm("cities");
</script>
