.m-t-n-md{
  margin-top: -20px !important;
}
.mt-25{
  margin-top: 25px;
}
.mt-8{
  margin-top: 8px;
}

.ml-20{
  margin-left: 20px;
}

.ml-30{
  margin-left: 30px;
}

.w50{
  width: 50px;
}

.d-flex{
  display: flex !important;
}

.logo_preview{
  height: 106px;
}
.image_preview{
  height: 150px;
}
.mycontent-left {
  border-right: 1px solid #E2E1E1;
}
.red{
  color: #F74747;
}
.green{
  color: #008000;
}

.d-line{
  border-bottom: 1px solid #E2E1E1;
}
.grey-bg{
  background-color: #E8E8E8 !important;
}
.pointer {
  cursor: pointer;
}
.uppercase {
  text-transform: uppercase;
}

/* REDEEMS */

.redeem-product-container {
  border: 1px dashed #CCC;
  padding: 5px 10px;
}

.redeem-deal-input{
  background-color:  #EDEF8A;
  font-weight: bold;
  letter-spacing: 15px;
  height: 75px;
  font-size: 34px;
}

.redeem-section-title {
  text-transform: uppercase; font-weight: 600; margin-bottom: 10px; color: #777;
}

.redeem-section-content {
  margin-bottom: 15px;
  display: block;
}

.redeem-product-title-container .redeem-section-content {
  font-size: 20px; font-weight: 600;
}

.redeem-user-redemption .redeem-section-content {
  margin-bottom: 25px;
}

.redeem-product-image img {
  max-width: 100%;
}

.redeem-product-stamps {
  margin-top: 20px;
}

.redeem-product-stamps .stamp-round {
  border: 2px solid;
  border-color: #CCC;
  border-radius: 50%;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 90%;
  display: inline-block;
  width: 35px;
  text-align: center;
}

.stamp-round.active {
  border-color: gold;
  background-color: gold;
  color: white;
}

.redeem-product-info-tab {
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  color: #555;
}

.redeem-product-info-tab.active {
  padding: 0 5px 1px 5px;
  border-bottom: 2px solid darkred;
}

.redeem-product-more-info-section {
  border: 1px solid #CCC;
  margin-top: 25px;
  padding: 15px;
}

.redeem-user-container {
  margin-top: 75px;
}

.redeem-user-redemption {
  margin-top: 20px;
}

.section-grey-block {
  background-color: #FAFAFA;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

.section-block-outline {
  background-color: #FFF;
  text-transform: uppercase;
  border: 1px solid #CCC;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

.text-red {
  color: maroon;
}

.btn-redeem-confirm {
  padding: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.redeem-business-meta div {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}

.redeem-business-meta span {
  font-style: italic;
}

.redeem-pickle-support {
  font-size: 12px;
  color: #AAA;
  font-weight: 600;
  margin-top: 30px;
}

.btn-redeem-dark {
  background-color: #AAA !important;
  color: #FFF !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-redeem-dark:focus, .btn-redeem-dark:hover {
  background-color: #999 !important;
}

/* END OF REDEEMS */

/* BRANCH */

.branch-top-notice {
  margin-left: 30px;
}

.branch-time {
  width: 73px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 13px;
  padding: 6px 8px;
}

.time-slot-head {
  font-size: 13px;
}

.time-slot-left-col{
  width: 73px;
  float: left;
}

.attachment-set {
  padding-bottom: 20px;
  border-bottom: 1px dotted #DDD;
}

/* END OF BRANCH */

/* OFFERS */
select.deal-type {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.text-counter {
  position: absolute;
  right: 16px;
  top: -22px;
  font-size: 11px;
  background-color: orange;
  color: darkred;
  padding: 2px 5px;
  border-radius: 4px;
}

.branch-error {
  font-style: italic;
  color: #F74747;
}

.deals-branch-list {
  padding-top: 10px;
}

.avatar-circle {
  border-radius: 50%;
}

.mid-vertical {
  vertical-align: middle !important;
}