<% categories = Category.where('parent_id IS NULL') %>
<div class="col-md-6 col-md-offset-3">
  <div class="block block-themed">
     <div class="block-header bg-primary">
        <h3 class="block-title"><%= text %></h3>
     </div>
     <div class="block-content">
        <%= form_for(@category, :html => { :multipart => true, :class => 'form-horizontal push-10-t push-10' }) do |f| %>
             <div class="form-group">
                 <div class="col-xs-12">
                     <div class="form-material">
                      <%= f.text_field :name, :class => 'form-control' %>
                         <label>Name</label>
                     </div>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-xs-12">
                     <div class="form-material">
                       <%= f.text_area :description, :class => 'form-control' %>
                         <label>Description</label>
                     </div>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-xs-12">
                     <div class="form-material">
                      <%= f.text_field :keywords, :class => 'form-control' %>
                         <label>Keywords</label>
                     </div>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-xs-12">
                     <div class="form-material">
                      <%= f.text_field :image, :class => 'form-control' %>
                         <label>Image</label>
                     </div>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-xs-12">
                     <div class="form-material">
                      <%= f.collection_select :parent_id, categories, :id, :name, include_blank: true, :class => 'form-control' %>
                         <label>Parent</label>
                     </div>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-xs-12">
                  <%= f.submit 'Save', :class => 'btn btn-sm btn-primary' %>
                 </div>
             </div>
        <% end %>
     </div>
  </div>
</div>

<!--<%#= form_for(@category) do |f| %>
  <%#if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <%# @category.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <#% end %>
      </ul>
    </div>
  <#% end %>
<#% end %>-->
<script type="text/javascript">
  actmm("categories");
</script>