<table class="table table-striped table-hover table-header-bg">
  <thead>
    <tr >
      <th class="text-center">Id</th>
      <th class="text-center">Name</th>
      <th class="text-center">Description</th>
      <th class="text-center">Keywords</th>
      <th class="text-center">Parent Category</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td class="text-center"><%= category.id %></td>
        <td class="text-center"><%= category.name %></td>
        <td class="text-center"><%= category.description %></td>
        <td class="text-center"><%= category.keywords  %></td>
        <td class="text-center"><%= parent(category) %></td>
        <td class="text-center">
          <div class="btn-group">
            <% if can? :update,Category %>
            <%= link_to (raw('<i class="fa fa-pencil"></i>')), edit_category_path(category), {:class => 'btn btn-xs btn-default'} %>
          <% end %>
            <% if can? :delete,Category %>
            <%= link_to (raw('<i class="fa fa-times"></i>')), category, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?'} %>

          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
