<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Categories <small>(<%= @categories.total_count %>)</small>
      </h1>
    </div>
    <% if can? :create,Category %>
    <div class="col-sm-5 text-right">
      <%= link_to (raw('<i class="fa fa-plus"></i> New Category')), new_category_path, {:class => 'btn btn-success'} %>
    </div>
    <% end %>
  </div>
</div>

<div class="block">
  <div class="block-content">
    <% if @categories.present? %>
      <div class="text-center">
        <%= paginate @categories %>
      </div>
      <%= render 'table' %>
    <% else %>
      <h3 class="text-center" style="padding-bottom:20px;">Currently no categories to show.</h3>
    <% end %>
  </div>
</div>
<script>
  actmm("categories");
</script>
