<p id="notice"><%= notice %></p>
<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7">
      <h1 class="page-heading">
        Show
      </h1>
    </div>
  <div class="col-sm-5 text-right">
    <%= link_to (raw('<i class="fa fa-arrow-left"></i> Back')), categories_path, {:class => 'btn btn-xs btn-default'} %>
  </div>
</div>

<div class="block">
  <div class="block-content">
    <div class="table-responsive">
      <table class="table table-striped table-borderless table-header-bg">
        <thead>
          <tr>
            <th class="text-center">Image</th>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Keywords</th>
            <th class="text-center">Parent</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
      <tbody>
        <tr>
        <td class="text-center"><%= image_tag(@category.image) %></td>
        <td class="text-center"><%= @category.name %></td>
        <td class="text-center"><%= @category.description %></td>
        <td class="text-center"><%= @category.keywords %></td>
        <td class="text-center"><%= parent(@category) %></td>
        <td class="text-center">
          <div class="btn-group">
            <%= link_to (raw('<i class="fa fa-pencil"></i>')), edit_category_path(@category), {:class => 'btn btn-xs btn-default'} %>
            <%= link_to (raw('<i class="fa fa-times"></i>')), @category, method: :delete, class: 'btn btn-xs btn-default', data: { confirm: 'Are you sure?'} %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
