<!-- Header -->
<header id="header-navbar" class="content-mini content-mini-full">
  <ul class="nav-header pull-right">
    <li>

      <%= current_admin.email %>
      <div class="btn-group">
        <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
          <%= image_tag("avatar.jpg") %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">Profile</li>
          <li>
            <a tabindex="-1" href="#">
              <i class="si si-envelope-open pull-right"></i>
              Inbox
            </a>
          </li>
          <li>
            <a tabindex="-1" href="#">
              <i class="si si-user pull-right"></i>
              Profile
            </a>
          </li>
          <li>
            <a tabindex="-1" href="javascript:void(0)">
              <i class="si si-settings pull-right"></i>Settings
            </a>
          </li>
          <li class="divider"></li>
          <li class="dropdown-header">Actions</li>
          <li>
            <a tabindex="-1" href="">
              <i class="si si-lock pull-right"></i>Lock Account
            </a>
          </li>
          <li>
            <% if admin_signed_in? %>
              <a tabindex="-1" href="/admins/sign_out" data-method="delete">
                <i class="si si-logout pull-right"></i>Log out
              </a>
            <% end %>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="nav-header pull-left">
    <li class="hidden-md hidden-lg">
      <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
      <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
        <i class="fa fa-navicon"></i>
      </button>
    </li>
    <li class="hidden-xs hidden-sm">
      <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
      <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
        <i class="fa fa-ellipsis-v"></i>
      </button>
    </li>
    <li>
      <!-- Opens the Apps modal found at the bottom of the page, before including JS code -->
      <button class="btn btn-default pull-right" data-toggle="modal" data-target="#apps-modal" type="button">
        <i class="si si-grid"></i>
      </button>
    </li>
    <% if false %>
    <li class="visible-xs">
      <!-- Toggle class helper (for .js-header-search below), functionality initialized in App() -> uiToggleClass() -->
      <button class="btn btn-default" data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible" type="button">
        <i class="fa fa-search"></i>
      </button>
    </li>
    <li class="js-header-search header-search">
      <form class="form-horizontal" action="base_pages_search.html" method="post">
        <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
          <input class="form-control" type="text" id="base-material-text" name="base-material-text" placeholder="Search..">
          <span class="input-group-addon"><i class="si si-magnifier"></i></span>
        </div>
      </form>
    </li>
    <% end %>
  </ul>
</header>
<!-- END Header -->
<!-- Apps Modal -->
<!-- Opens from the button in the header -->
<div class="modal fade" id="apps-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-sm modal-dialog modal-dialog-top">
    <div class="modal-content">
      <!-- Apps Block -->
      <div class="block block-themed block-transparent">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">Create New</h3>
        </div>
        <div class="block-content">
          <div class="row text-center">
            <div class="col-xs-6">
              <a class="block block-rounded" href="/deals/new">
                <div class="block-content text-white bg-default">
                  <i class="si si-layers fa-2x"></i>
                  <div class=" push-15-t push-15">Deal</div>
                </div>
              </a>
            </div>
            <div class="col-xs-6">
              <a class="block block-rounded" href="/businesses/new">
                <div class="block-content text-white bg-modern">
                  <i class="si si-book-open fa-2x"></i>
                  <div class=" push-15-t push-15">Business</div>
                </div>
              </a>
            </div>
            <div class="col-xs-6">
              <a class="block block-rounded" href="/categories/new">
                <div class="block-content text-white bg-flat">
                  <i class="si si-list fa-2x"></i>
                  <div class=" push-15-t push-15">Category</div>
                </div>
              </a>
            </div>
            <div class="col-xs-6">
              <a class="block block-rounded" href="/businesses/new">
                <div class="block-content text-white bg-city">
                  <i class="si si-paper-plane fa-2x"></i>
                  <div class=" push-15-t push-15">User</div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
      <!-- END Apps Block -->
    </div>
  </div>
</div>
<!-- END Apps Modal -->
