<!-- Sidebar -->
<nav id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <div class="side-header side-content bg-white-op">
        <!-- logo -->
        <a class="h5 text-white" href="/">
          <span class="h4 font-w600 sidebar-mini-hide">Pickle</span>
        </a>
      </div>
      <div class="side-content">
        <ul class="nav-main">
          <li>
            <a id="dashboard" class="active" href="/"><i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span></a>
          </li>
          <% if can? :list, Country %>
            <li>
              <a id="countries" href='/countries'><i class="si si-link"></i><span class="sidebar-mini-hide">Countries</span></a>
            </li>
          <% end %>
          <% if can? :list, City %>
            <li>
              <a id="cities" href="/cities"><i class="si si-pointer"></i><span class="sidebar-mini-hide">Cities</span></a>
            </li>
          <% end %>
          <% if can? :list, Area %>
          <li>
            <a id="areas" href='/areas'><i class="si si-target"></i><span class="sidebar-mini-hide">Areas</span></a>
          </li>
          <% end %>
          <% if can? :list, Business %>
          <li>
            <a id="businesses" href=<%= businesses_path %>><i class="si si-book-open"></i><span class="sidebar-mini-hide">Business</span></a>
          </li>
          <% end %>
          <% if can? :list, Category %>
          <li>
            <a id="categories" href="/categories"><i class="si si-list"></i><span class="sidebar-mini-hide">Categories</span></a>
          </li>
          <% end %>
          <% if can? :list, Deal %>
          <li>
            <a id="deals" href='/deals'><i class="si si-layers"></i><span class="sidebar-mini-hide">Deals</span></a>
          </li>
          <% end %>
          <% if can? :list, Feed %>
          <li>
            <a id="specials" href='/specials'><i class="si si-magic-wand"></i><span class="sidebar-mini-hide">Feeds</span></a>
          </li>
          <% end %>
          <% if can? :list, Redeem %>
          <li>
            <a id="redeems" href='/redeems'><i class="si si-lock-open"></i><span class="sidebar-mini-hide">Redeem</span></a>
          </li>
          <% end %>

          <% if current_admin.admin? %>
            <li>
              <a id="users" href=<%= users_path %>><i class="si si-user"></i><span class="sidebar-mini-hide">Users</span></a>
            </li>
          <% end %>

          <% if current_admin.admin? %>
            <li>
              <a id="admins" href=<%= invite_users_path %>><i class="si si-paper-plane"></i><span class="sidebar-mini-hide">Admins</span></a>
            </li>
          <% end %>
          <% if current_admin.admin? %>
          <li>
            <a id="roles" href=<%= roles_path %>><i class="si si-star"></i><span class="sidebar-mini-hide">Roles</span></a>
          </li>
          <% end %>
          <% if current_admin.admin? %>
          <li>
            <a id="cloudinary_upload" href='/cloudinary_upload'><i class="si si-picture"></i><span class="sidebar-mini-hide">Image Uploader</span></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- END Sidebar -->
