<%= cloudinary_js_config %>
<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-12">
      <h1 class="page-heading">
        Cloudinary Images
        <small>
          Upload responsibly!
        </small>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="h4 alert alert-success alert-dismissable text-center">
      Since the beginning of time, you have made <b><%= @usage["requests"] %></b> requests, uploaded <b><%= @usage["resources"] %></b> images and <b><%= @usage["derived_resources"] %></b> derived images.

      <p class="font-s13">
      <%= link_to "I want to clean up derived images :(","http://support.cloudinary.com/hc/en-us/articles/202521072-How-to-delete-derived-resources-",{target: "_blank"} %>
      </p>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-12">
  <% [["folder","storage"],["feed","bandwidth"],["grid","objects"],["equalizer","transformations"]].each do |array| %>
    <%= mini_box(array[0],"-",@usage[array[1]]["used_percent"].to_s + "%" ,array[1].titleize) %>
  <% end %>
  </div>
</div>
<div class="content">
  <div class="block">
    <div class="block-content">
      <h3 class="bold-subhead">Browse File</h3>
      <br/>
      <div id="upload_status" class="font-s36 font-w300 text-info animated bounceInDown"></div>

      <%= form_tag('upload_images', :method => :post, :class =>'new_upload', :enctype => 'multipart/form-data') do %>
        <div class="row">
          <div class="col-sm-6 text-warning text-center">
        <%= cl_image_upload_tag(:image_id, :crop => :limit,
                                :html => {id: "upload_images", accept: "image/*", :class => "image_upload form-control", :name => "upload_images",:multiple => true}) %>
                            </div>
                            </div>
                            <% end %>
                            <br/>
                            <table class="table table-hover table-bordered">
                              <thead>
                                <tr>
                                  <th>Original Image Name</th>
                                  <th>Cloudinary Url</th>
                                </tr>
                              </thead>
                              <tbody class="preview">

                              </tbody>
                            </table>

                          </div>
                        </div>
                      </div>
                      <script>
                        actmm("cloudinary_upload")
                      </script>

                      <script>
                        $(document).on('ready',function(){

                          $('#upload_images').unsigned_cloudinary_upload("ovkrdjbz", 
                                { cloud_name: 'getpickledeals' }, 
                                  { multiple: true }
                                  ).bind('fileuploadchange', function(e,data) {
                        window.count = data.files.length;
                        window.chk = 0
                        $('#upload_status').html("Uploading to Cloudinary... <i class='si si-cloud-upload'></i>")
                        $(this).hide()
                        }).bind("cloudinarydone", function(e, data){
                        console.log(count)
                        window.chk+=1
                        $(".preview").append("<tr><td>"+ decodeURIComponent(data.result.original_filename) +"</td><td>"+ data.result.url +"</td></tr>");
                        if(window.chk==window.count) { $('#upload_status').html("Upload Done <i class='si si-like'></i>");  }
                        });
                        });
                      </script>
