<!DOCTYPE html>
<html>
  <head>
    <title>Pickle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
      <% if flash[:notice] %>
        <script>
          notys('<%= flash[:notice] %>',"information");
        </script>
      <% end %>
      <% if flash[:error] %>
        <script>
          notys('<%= flash[:error] %>',"error");
        </script>
      <% end %>
      <main id="main-container">
      <%= render 'sidebar' %>
      <%= render 'header' %>
      <%= yield %>
      </main>
      <%#= render 'footer' %>
    </div>
  </body>
</html>
