<!DOCTYPE html>
<html>
<head>
  <title>Pickle</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<div class="content overflow-hidden">
		<%= yield %>
	</div>
</body>
</html>